{% extends "new/new_base.html" %} {% load static %} {% block content_head %}

<!-- This is where the imports for javascript/ css will go -->
<link rel="stylesheet" href="{% static 'new_css/policy/privacy_policy.css' %}"> 

{% endblock content_head %}

{% block content %}
<div class="container flex-column align-items-center mt-4">
    <p class="my-3 mx-4"><i><u>This privacy policy was first updated on (date)</u></i></p>
<div class=" container my-3">
    <div class="row">
        
            <p>This privacy explains how knownInDeep<b>("knowInDeep," "We" or "us")</b>collects,uses and discloses information about you.This privacy policy applies when you use our website mobile application, and other online products and services that link to this privacy policy(collectively,our <b>"Services"</b>), contact our customer care team, engage with us on social media, or otherwise interact with us.</p>
        
        <div class=" my-2">
            <p>We may change this privacy policy from time to time. If we make changes we will notify you by reversing the date at the top of the policy and, in some cases, we may provide you with additional notice(Such as adding statement to our website or providing you with the notification).We encourage you to review this privacy policy regularly to stay informed about our information practices and choices available to you.</p>
        </div>
    </div>
</div>
<!--Content section-->
<section class="content">
    <div class="container-fluid my-5 mx-2">
        <h1 class="display-6">CONTENT</h1>
    </div>
    <div class="container my-3">
        <div class="row">
          
                <ul class= "container list group">
                    <li class="container">Collection of information</li>
                    <li class="container">Use of information</li>
                    <li class="container">Sharing of information</li>
                    <li class="container">Third-Party embeds </li>
                    <li class="container">Email from KnowInDeep</li>
                    <li class="container">Commuication prefrences</li>
                    <li class="container">Cookies</li>
                    <li class="container">Mobile Push Notification</li>
                    <li class="container">Accessing, Updating and, Deleting the data</li>
                    <li class="container">Contact us</1i>
                </ul>
            
        </div>
    </div>
</section>

<!--Collection of information-->
<section class="Collection of infromation">
<div class="container my-4 mx-2">
    <h1 class="display-6">COLLECTION OF INFORMATION</h1>
    <h5 class="my-4">Information You Provide To Us</h5>
</div>
<div class="container my-3">
    <div class="row">
        
            <ul class="container">
                <li class="mx-5 my-2"><b>Account Data:</b> In order to use certain features (like accessing content), you need to create a user account. When you create or update your account, we collect and store the data you provide, like your email address, password, phone number, occupation and skill interests(<b>“Account Data”</b>).</li>
                <li class="mx-5 my-2"><b>Profile Data:</b> You can also choose to provide profile information like a photo, headline, biography, language, website link, social media profiles, country, or other data. Your Profile Data will be publicly viewable by others.</li>
                <li class="mx-5 my-2"><b>Student Payment Data:</b> If you make purchases, we collect certain data about your purchase (such as your name and zip code) as necessary to process your order. You must provide certain payment and billing data(if applicable) directly to our payment processing partners, including your name, credit card information, billing address, and zip code. For security, KnowInDeep does not collect or store sensitive cardholder data, such as full credit card numbers or card authentication data.</li>
                <li class="mx-5 my-2"><b>Shared Content:</b >Parts of the Services let you interact with other users or share content publicly, including by posting reviews about content, asking or answering questions, sending messages to students or instructors, or posting photos or other work you upload. Such shared content may be publicly viewable by others depending on where it is posted.</li>
                <li class="mx-5 my-2"><b>Creator Payment Data:</b> If you are a project creator, you can link your payment account to the Services to receive payments. When you link a payment account, we collect and use certain information, including your payment account email address, account ID, physical address, or other data necessary for us to send payments to your account. In order to comply with applicable laws, we also work with trusted third parties who collect tax information as legally required. This tax information may include residency information, tax identification numbers, biographical information, and other personal information necessary for taxation purposes. For security, KnowInDeep does not collect or store sensitive bank account information. The collection, use, and disclosure of your payment, billing, and taxation data is subject to the privacy policy and other terms of your payment account provider.</li>
                <li class="mx-5 my-2"><b>Communications and Support:</b> If you contact us for support or to report a problem or concern (regardless of whether you have created an account), we collect and store your contact information, messages, and other data about you like your name, email address, messages, location, KnowInDeep user ID, refund transaction IDs, and any other data you provide or that we collect through automated means. We use this data to respond to you and research your question or concern, in accordance with this Privacy Policy. We may also use this data for further improvements.</li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
   
        <p class="container">We collect the information you provide directly to us. For example, you share information directly with us when you create an account, fill out a form, submit or post content through our Services, purchase a membership, communicate with us via third-party platforms, request customer support, or otherwise communicate with us. The types of personal information we may collect include your name, display name, username, bio, email address, business information, your content, including your avatar image, photos, posts, responses, and series published by you, and any other information you choose to provide.
            In some instances, we automatically collect certain information, including:</p>
    </div>
    
        <ul>
            <li class="container"><b>Activity Information</b>We collect information about your activity on our Services, such as your reading history and when you share links, follow users, highlight posts, and clap for posts.</li>
            <li class="container"><b>Transactional Information:</b>When you purchase a membership or service, we collect information about the transaction, such as subscription details, purchase price, and the date of the transaction.</li>
        </ul>
    
</div>
</section>

<!-- Use of information section-->
    <div class="container container-fluid">
        <h1 class="display-6">USE OF INFORMATION</h1>
    </div>
    <div class="container">
        <div class="row">
    <div class="mx-4">
        <p class="container">We use the information we collect to provide, maintain, and improve our Services, which includes publishing and distributing user-generated content, personalizing the posts you see, and operating our metered paywall. We also use the information we collect to:</p>
        <ul class="container">
            <li class="container">Create and maintain your KnowInDeep account.</li>
            <li class="container">Process transactions and send related information, such as confirmations, receipts, and user experience surveys.</li>
            <li class="container">Send you technical notices, security alerts, and support and administrative messages.</li>
            <li class="container">Respond to your comments and questions and provide customer service.</li>
            <li class="container">Communicate with you about new content, products, services, and features offered by KnowInDeep and provide other news and information we think will interest you (see “E-mail from KnowInDeep” below for information about how to opt-out of these communications at any time).</li>
            <li class="container">Monitor and analyze trends, usage, and activities in connection with our Services.</li>
            <li class="container">Detect, investigate, and prevent security incidents and other malicious, deceptive, fraudulent, or illegal activity and protect the rights and property of KnowInDeep and others.</li>
            <li class="container">Debug to identify and repair errors in our Services.</li>
            <li class="container">Comply with our legal and financial obligations, and</li>
            <li class="container">Carry out any other purpose described to you at the time the information was collected</li>
        </ul>
    </div>
</div>
</div>
<!--Sharing of information-->

    <div class="container container-fluid my-5">
        <h1 class="display-6">SHARING OF INFORMATION</h1>
    </div>
    <div class="container">
        <div class="row">
    <div class=" mx-4">
        <p class="container">We share personal information in the following circumstances or as otherwise described in this policy:</p>
        <ul>
            <li class="container">We may disclose personal information if we believe that disclosure is in accordance with, or required by, any applicable law or legal process, including lawful requests by public authorities to meet national security or law enforcement requirements. If we are going to disclose your personal information in response to the legal process, we will give you notice so you can challenge it (for example by seeking court intervention), unless we are prohibited by law or believe doing so may endanger others or cause illegal conduct. We will object to legal requests for information about users of our Services that we believe are improper.</li>
            <li class="container">We may share personal information if we believe that your actions are inconsistent with our user agreements or policies, if we believe that you have violated the law, or if we believe it is necessary to protect the rights, property, and safety of KnowInDeep, our users, the public, or others.</li>
            <li class="container">We share personal information with our lawyers and other professional advisors where necessary to obtain advice or otherwise protect and manage our business interests.</li>
            <li class="container">We share personal information with your consent or at your direction.</li>
            <li class="container">We also share aggregated or de-identified information that cannot reasonably be used to identify you.</li>
        </ul>
    </div>
</div>
</div>

<!--Third Party Embedded-->
<section class="THIRD PARTY Embedded">
    <div class="container container-fluid my-5">
        <h1 class="display-6">THIRD PARTY EMBEDDED</h1>
    </div>
    <div class="container">
        <div class="row">
           
                <p class="container container-fluid">Some of the content that you see displayed on KnowInDeep is not hosted by KnowInDeep. These “embeds” are hosted by a third-party and embedded in a KnowInDeep page so that it appears to be part of that page. For example YouTube or Vimeo videos, Imgur or Giphy gifs, SoundCloud audio files, Twitter tweets, GitHub code snippets, or Scribd documents that appear within a KnowInDeep post. These files send data to the hosted site just as if you were visiting that site directly (for example, when you load a KnowInDeep post page with a YouTube video embedded in it, that video appears because of a pointer to files hosted by YouTube, and in turn, YouTube receives data about your activity, such as your IP address and how much of the video you watch).</p>
    
            
            
                <p class="container container-fluid">KnowInDeep doesn’t control what data third parties collect in cases like this, or what they ultimately do with it. So, third-party embeds on KnowInDeep are not covered by this Privacy Policy. They are covered by the privacy policy of the third-party service (so, when you watch a YouTube video embedded in a KnowInDeep post, the use of data about your interactions with the video would be covered by YouTube’s privacy policy).</p>
            
           
                <p>Some embeds may ask you for personal information, such as submitting your email address, through a form linked to a KnowInDeep post. We do our best to keep bad actors off of KnowInDeep. However, if you choose to submit your information to a third party this way, we don’t know what they may do with it. As explained above, their actions are not covered by this Privacy Policy. So, please be careful when you see embedded forms on KnowInDeep asking for your email address or any other personal information. Make sure you understand who you are submitting your information to and what they say they plan to do with it. We suggest that you do not submit your email address or other personal information to any third-party through an embedded form.</p>
            
        </div>
    </div>
</section>

<!--Email from Knowindeep-->
<section class="EMAIL FROM KNOWINDEEP">
    <div class=" container container-fluid my-5">
        <h1 class="display-6">EMAIL FROM KNOWINDEEP</h1>
    </div>
    <div class="container">
        <div class="row">
            
                <p>Sometimes we’ll send you emails about your account, service changes, or new policies. You can’t opt-out of this type of “transactional” email (unless you delete your account). But, you can opt-out of non-administrative emails such as digests, newsletters, and activity notifications through your account’s Settings page.</p>
          
            
                <p>When you interact with an email sent from KnowInDeep (such as opening an email or clicking on a particular link in an email), we may receive information about that interaction.</p>
            
            
                <p>We won’t email you to ask for your password or other account information. If you receive such an email, please forward it to us at knowindeep.tech@gmail.com so we can investigate.</p>
            
        </div>
    </div>
</section>
<!--COOKIES-->
<section class="Cookies">
    <div class=" container container-fluid my-5">
        <h1 class="display-6">COOKIES</h1>
    </div>
    <div class="container">
        <div class="row">
            
                <p>Most web browsers are set to accept cookies by default. If you prefer, you can usually adjust your browser settings to remove or reject browser cookies. Please note that removing or rejecting cookies could affect the availability and functionality of our Services.</p>
            
        </div>
    </div>
</section>
<!--Mobile pushing notification-->
<section class="mobile pushing notification">
    <div class=" container container-fluid my-5">
        <h1 class="display-6">MOBILE PUSHING NOTIFICATION</h1>
    </div>
    <div class="container">
        <div class="row">
            
                <p>With your consent, we may send push notifications to your mobile device. You can deactivate these messages at any time by changing the notification settings on your mobile device.</p>
            
        </div>
    </div>
</section>
<!--ACCESSING-->
<section class="ACCESSING">
    <div class=" container container-fluid my-5">
        <h1 class="display-6">ACCESSING, UPDATING, AND DELETING YOUR PERSONAL DATA</h1>
    </div>
    <div class="container">
        <div class="row">
            
                <p>You can access and update your personal data that KnowInDeep collects and maintains as follows:</p>
                <ul>
                    <li class="container">To update the data you provide directly, log into your account and update your account at any time.</li>
                    <li class="container">To terminate your account:</li>
                    <ul>
                        <li class="container">If you are a student, visit your profile settings page and follow the steps detailed <a href="#">here</a>.</li>
                        <li class="container">If you are an instructor, follow the steps detailed <a href="#">here</a>.</li>
                        <li class="container">If you have any issues terminating your account, please contact our <a href="#">Support Team</a></li>
                        <li class="container">Please note: even after your account is terminated, some or all of your data may still be visible to others, including without limitation any data that has been (a) copied, stored, or disseminated by other users (including in course comment); (b) shared or disseminated by you or others (including in your shared content); or (c) posted to a third-party platform. Even after your account is terminated, we retain your data for as long as we have a legitimate purpose to do so (and in accordance with applicable law), including to assist with legal obligations, resolve disputes, and enforce our agreements. We may retain and disclose such data pursuant to this Privacy Policy after your account has been terminated.</li>
                    </ul>
                </ul>
            
        </div>
    </div>
</section>
<!--Contact US-->
<section class="contact">
    <div class="container container-fluid my-5">
        <h1 class="display-6">CONTACT US</h1>
    </div>
    <div class="container">
        <div class="row">
            
                <p>You may contact us by emailing at knowindeep.tech@gmail.com.</p>
            
        </div>
    </div>
</section>
</div>
{% endblock content %}