{% extends "new/new_base.html" %} {% load static %} {% block content_head %}

<!-- This is where the imports for javascript/ css will go -->
<link rel="stylesheet" href="{% static 'new_css/policy/terms_for_creators.css' %}"> 

{% endblock content_head %}

{% block content %}
<body>
    <!--Authenticity-->
  <section class="Authenticity">
  <div class="container my-5">
      <h1>Authenticity</h1>
  </div>
    
    <div class="container">
      <div class="row">
        <p class="container">The projects made by the author should be free of any plagiarism and in case of any copyright and plagiarism-related issue, the author will solely be responsible for the same with no liabilities towards KnowInDeep for any kind of royalty or copyright claims.</p>
      <p class="container">The content should not be published elsewhere before submitting it to KnowInDeep. If already published, the creator must give full details of the platform(s) where the project has been published prior to the submission of the same to KnowInDeep. In case of failure to do so, the creator’s payment and ownership rights will be revoked. In any case, KnowInDeep reserves the right over the decision to publish the project on its platform.
</p>
        
        </div>
      
      </div>
  </section>
    
    <!--ownership-->
    <section class="ownership">
    
    <div class="container my-5">
      <h1>Ownership</h1>
  </div>
        <div class="container">
        <div class="row">
            
            <p class="container">KnowInDeep reserves complete ownership over the content submitted by you to the company and it reserves the rights to use the content for various purposes such as copy, distribute, transmit, publicly display, advertising, reproduce, edit, translate and reformat your submission; and to publish your name in connection with your submission.</p>
            <p class="container">Paid content from KnowInDeep can only be used for educational purposes and not for commercial purposes.</p>
            </div>
        </div>
    </section>
    
    <!--Content creation-->
<section class="creation">
    <div class="container my-5">
      <h1>Content Creation and Submission Guidelines</h1>
  </div>
    <div class="container">
  <div class="row">
        <p class="container">In case the author seeks to submit a product of his/her own choice, the author must first have confirmation from KnowInDeep whether he/she can work on that project. The confirmation will be provided after it is verified that the project is of suitable difficulty level, appropriate field, and the project is not already made by or being created by any other author for KnowInDeep.</p>
      <p class="container">In case the author does not have any project to work on, he/she can ask for the project to work on from the suitable people associated with KnowInDeep having clearance for assigning projects to anyone.</p>
        <p class="container">Any new author will have to create a few easy/medium level projects before creating a hard level project that will be payable on our platform for which the author will get a specified percentage of sales as mentioned below under “Payment”.</p>
      <p class="container">Any project created by the author must follow the Project Guidelines that will be shared with the author after the author gets confirmation for the project. In case the Project Guidelines are not shared with the author, the author must ask for them before proceeding to avoid any discrepancies.</p>
        <p class="container">The author must ensure the approval of his work by any of the higher authority personnel of KnowInDeep. A product if not approved may or may not ever come live on any platform of KnowInDeep. Approval will be given keeping in mind that the project is of suitable difficulty level, project guidelines are properly followed, and code, blog, and the video(if asked) are properly submitted by the author.</p>
        </div>
      
  </div>
    </section>
    
    <!-- payment-->
    <section class="payment">
    <div class="container my-5">
      <h1>Payment</h1>
  </div>
        <div class="container">
        <div class="row">
            <p class="container">KnowInDeep reserves complete right to decide whether a product(project) will be paid or unpaid on any of its platform(s) and if paid, the price at which the project will be sold. Payments to the author will be made on the sale of any of his paid products available on the website only. The payment will be based on the number of products sold made by the author as per the following set of rules:</p>
            <p class="container">The following set of rules applies to the sale of a project:</p>
            <ul class="container">
               <li class="container mx-3">For each sale of the author’s paid project, they will initially be paid 40% of the project’s price valid for the user after discounts and before applicable taxes up to the first 30 sales.</li>
               <li class="container mx-3">For the next 30 sales (31st to 60th sale), the author will be paid 30% of the price of the project valid for the user after discounts and before applicable taxes.</li>
               <li class="container mx-3">For any further sale (61st onwards), the author will be paid 20% of the price of the project valid for the user after discounts and before applicable taxes.</li>
              <li class="container mx-3">The payment process for a project is applicable up to 18 months of that product(up to 18 months after the product is live on any of our platform(s)). After 18 months, KnowInDeep will have complete authority and copyright of your product and any other payments for that product will not be made independent of the sale of the product in the initial 18 months.</li>
            </ul>
            
            <p class="container">The following set of rules applies to the sale of a project series:</p>
            <ul>
                <li class="container mx-3">For each sale of the author’s paid project series, they will be paid 40% of the price of the project valid for the user after discounts and before applicable taxes.</li>
                <li class="container mx-3">The payment process for a project series is applicable up to 4 years of that product(up to 4 years after the product is live on any of our platform(s)). After 4 years, KnowInDeep will have complete authority and copyright of your product and any other payments for that product will not be made independent of the sale of the product in the first 4 years.</li>
            </ul>
          </div>
        </div>
    </section>
    <!--contact details-->
    <section class="contact details">
    <div class="container my-5">
      <h1>Contact Details</h1>
  </div>
        <div class="container">
         <div class="row">
            <p class="container">All creators are required to submit their contact details for verification and payment purposes as asked during the process. </p>
          </div>
        </div>
    </section>
    <!--Change of terms-->
    <section class="change">
    <div class="container my-5">
      <h1>Change of Terms</h1>
  </div>
    <div class="container">
      <div class="row">
        <p class="container">KnowInDeep reserves the sole right to revise the terms and conditions as needed. The most current version will supersede all previous versions. You will be informed via correct means whenever the terms are updated and also it is advised to keep revisiting the terms to stay updated.</p>
        </div>  
      </div>
    </section>
    
    <!--Exceptions-->
    
    <section class="exceptions">
    <div class="container my-5">
      <h1>Exceptions</h1>
  </div>
        <div class="container">
        <div class="row">
            
            <p class="container">An exception for the terms mentioned above may be created for an author only after approval from the highest authority of KnowInDeep and the same must be signed by both KnowInDeep and the author after which the exception will come in force. No verbal or informal promise of an exception by any personnel of KnowInDeep or by any outsider will be valid. The official discussion and confirmation of an exception should be done using emails only between the author and the official email id of KnowInDeep</p>
            </div>
        </div>
    </section>
    
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
  -->
</body>
{% endblock content %}