{% extends "base.html" %}
{% load static %}

<script type="text/javascript">
    {% block jquery %}

        if (performance.navigation.type == performance.navigation.TYPE_RELOAD){
            updateProfile()
        }
        function updateProfile() {
            alert("TEST")
            var profile = '{{ profile }}'

            $.ajax({
                url: "{% url 'api:update_profile' %}",
                method: "POST",
                data: {
                    "profile": profile,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                dataType: JSON,
                success: function(data) {
                    alert("SUCCESS")
                }, error: function(error) {
                    alert("ERROR")
                },
            })
        }

    {% endblock jquery %}
</script>


{% block content %}
<div class="container">
    <div class="row" style="margin-top: 150px;">
        <div class="col-sm-12 col-md-6 col-lg-8 center-div">
            <hr>
            <div class="row valign-wrapper">
                <div class="col-sm-2">
                    <img src="https://images.unsplash.com/photo-1597887160393-996b475edd75?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                        alt="" class="circle responsive-img">
                </div>
                <div class="col-sm-10">
                    <script>
                        function makeEditable(){
                            $(this).attr('disabled', false);
                        }
                    </script>
                    <div>
                        <a href="{% url 'author:author_page' slug='some' %}" class="font-weight-bold">
                            Name of the author
                        </a>
                    </div>
                    <div>
                        <span class="black-text">
                            {{ author.description }}
                        </span>
                    </div>
                    <div>
                        <h2>About You</h2> 
                    </div>
                    <div>
                        <span><h3>Name</h3></span>
                        <span><input type="text" value = "{{profile.name}}" disabled> <button onclick = "makeEditable()">EDIT</button></span><br>
                        
                        Your name appears on your <a href=""> Profile page</a>, as your byline, and in your responses. It is a required field.
                        
                    </div>
                    <br>
                    <div>
                        <span><h3>Bio</h3></span>
                        <span><input type="text" value="{{profile.description}}" disabled><span><button onclick = "makeEditable()">EDIT</button></span></span><br>              
                        <span>Your bio appears on your <a href=""> Profile </a> page. Max 160 characters.</span>
                    </div>
                    <div>
                        <span><h3>Photo</h3></span>
                        <span>Your photo appears on your  <a href="">Profile</a> page and with your stories across Medium. <br>
    
                            Recommended size: Square, at least 1000 pixels per side. File type: JPG, PNG or GIF.<span><button onclick = "makeEditable()">EDIT</button></span></span>
                            <span><img src="" alt="image"></span>
                            
                    </div>
                    <div>
                        <span><h2>Account</h2></span><hr>
                        <span><h3>Your Phone Number</h3></span>
                        <span>{{profile.phone_number}}<span><button onclick = "updateProfile()">Edit PhoneNumber</button></span></span>
                        
                    </div>
                    <div>
                        <span><h2>Security</h2></span><hr>
                        <span><h3>Delete account</h3></span>
                        <span>Permanently delete your account and all of your content.</span><br>
                        <span><a href="">Delete</a></span>
                    </div>
                    
                        
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
{% endblock content %}