<!DOCTYPE html>
<html>
<head>
	<title></title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <!--local -->
  <link href="style.css" rel="stylesheet">
</head>
<body><div class="background-header">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><img class="img1" src="kid-white.png"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
              <li class="nav-item n dropdown hid" id="drop">
	      	<form class="form" id="form" action="">
	  			<input type="search"  onmouseover="mousein()" id="navbarDropdown">
			    <i class="fa fa-search" onmouseover="myFunc()" href="#"></i>
			</form>
			  <div class="dropdown-menu menu" id="srch">
			      <a class="dropdown-item">first</a>
			      <a class="dropdown-item">second</a>
			      <a class="dropdown-item">third</a>
		      </div>
   			 </li>
              <li class="nav-item login">
                <a class="nav-link" href="#">Login</a>
              </li>
            </ul>
          </div>
          <div class="functional-buttons">
            <ul>
              <li><a href="#">Log in</a></li>
            </ul>
          </div>
        </div>
	  </nav>
	  </div>
<br>
<br>
<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<div class="proflie-card list1">
				<div style="text-align: center;">
				<img src="andres-herrera-iOYbUXPNTCI-unsplash.jpg" class="dp">
				</div>
				<img src="download.jpg" class="edite">
			  <div class="porfil">
				<h3>Author Name</h3>
				<br>
				<div class="details">
					<div class="details1">
						<b>Name:</b>
						<span class="edit-btn">
							<span class="btn-group second name1">
								<button id="butn" class="btn save">save</button>
								<button id="butn1" class="btn cancel" onClick="reply(event)">cancel</button>
							</span>
							<button id="1" class="btn edit" onClick="reply_click(event)">edit</button>
						</span><br>
						<span>Author name</span>
						<hr>
					</div>
				</div>
				<div class="details">
					<div class="details1">
						<b>Name:</b>
						<span class="edit-btn">
							<span class="btn-group second name1">
								<button id="butn" class="btn save">save</button>
								<button id="butn2" class="btn cancel" onClick="reply(event)">cancel</button>
							</span>
							<button id="2" class="btn edit" onClick="reply_click(event)">edit</button>
						</span><br>
						<span>Author name</span>
						<hr>
					</div>
				</div>
				<div class="details">
					<div class="details1">
						<b>Name:</b>
						<span class="edit-btn">
							<span class="btn-group second name1">
								<button id="butn" class="btn save">save</button>
								<button id="butn3" class="btn cancel" onClick="reply(event)">cancel</button>
							</span>
							<button id="3" class="btn    edit" onClick="reply_click(event)">edit</button>
						</span><br>
						<span>Author name</span>
						<hr>
					</div>
				</div>
			  </div>
			</div>
		</div>
	<div class="col-lg-8 chapter">
		<div style="height: 150px;">
			<div class="details">
				<div class="details1">
					<b>Name:</b>
					<span class="edit-btn">
						<span class="btn-group second name1">
							
							<button id="butn" class="btn    save">save</button>
							<button id="butn4" class="btn    cancel" onClick="reply(event)">cancel</button>
						</span>
						<button id="4" class="btn    edit" onClick="reply_click(event)">edit</button>
					</span><br>
					<span>Author name</span>
					<hr>
				</div>
			</div>
			<div class="details">
				<div class="details1">
					<b>Name:</b>
					<span class="edit-btn">
						<span  class="btn-group second name1">
							<button id="butn" class="btn save">save</button>
							<button id="butn5" class="btn cancel" onClick="reply(event)">cancel</button>
						</span>
						<button id="5" class="btn    edit" onClick="reply_click(event)">edit</button>
					</span><br>
					<span>Author name</span>
					<hr>
				</div>
			</div>
			<div class="details">
				<div class="details1">
					<b>Name:</b>
					<span class="edit-btn">
						<span class="btn-group second name1">
							<button id="butn" class="btn    save">save</button>
							<button id="butn6" class="btn    cancel"  onClick="reply(event)">cancel</button>
						</span>
						<button id="6" class="btn    edit" onClick="reply_click(event)">edit</button>
					</span><br>
					<span>Author name</span>
					<hr>
				</div>
			</div>
			<div class="details">
				<div class="details1">
					<b>Name:</b>
					<span class="edit-btn">
						<span class="btn-group second name1">
							<button id="butn" class="btn    save">save</button>
							<button id="butn7" class="btn    cancel" onClick="reply(event)">cancel</button>
						</span>
						<button id="7" class="btn    edit" onClick="reply_click(event)">edit</button>
					</span><br>
					<span>Author name</span>
					<hr>
				</div>
			</div>
			<div style="text-align: center !important;">
			<button class="saveas">save changes</button>
			</div>
			<br>
			<br>
			<br>

			<div style="width: 100%; border: 1px solid #ebebeb; box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.2);">
					<span class="xyz mm">javascript1 <i id="1" class="fa fa-times" aria-hidden="true" onClick="die(event)"></i></span>
					<span class="xyz">javascript2 <i id="2" class="fa fa-times" aria-hidden="true" onClick="die(event)"></i></span>
					<span class="xyz">javascript3 <i id="3" class="fa fa-times" aria-hidden="true" onClick="die(event)"></i></span>
					<input type="text" class="pret" id="lang3" name="Languages">
			</div>

		</div>
	</div>
	</div>
</div>  
  			
<footer class="footer" style="margin-top: 100px;">
	<div class="row stacks" id="stacks">
		<div class="col-lg-4 col-md-12 col-sm-12 col-12 stack1">
	<span class="stack">
	<img  class="foot-logo stack" src="kid-black.png"><br>
	<br>
	<span>Contact Us: knowindeep.tech@gmail.com<br>All Rigths reserved.KnowInDeep 2020</span>
	<br>
		<span>
      <a href="#" class="lang1">
			<img src="google.png" class="lang2">
      </a>
      <a href="#" class="lang1">
			<img src="linkd.png" class="lang2">
      </a>
      <a href="#" class="lang1">
			<img src="github.png" class="lang2">
      </a>
      <a href="#" class="lang1">
			<img src="youtube.png" class="lang2">
      </a>
		</span>
	</span>
</div>
<div class="col-lg-2 col-md-3 col-sm-6 col-12">
    <ul class="stack">
    	<li class="heads">COMPANY</li>
    	<li>About us</li>
    	<li>Privacy Policy</li>
    	<li>Contact us</li>
    </ul>
</div>
<div class="col-lg-2 col-md-3 col-sm-6 col-12">
    <ul class="stack">
    	<li class="heads">LEARN</li>
    	<li>Algorithms</li>
    	<li>Data Structures</li>
    	<li>Languages</li>
    	<li>CS Subjects</li>
    	<li>Video Tutorials</li>
    </ul>
</div>
<div class="col-lg-2 col-md-3 col-sm-6 col-12">
    <ul class="stack">
    	<li class="heads">PRACTICE</li>
    	<li>Courses</li>
    	<li>Company-wise</li>
    	<li>Topic-wise</li>
    	<li>How To Begin?</li>
    </ul>
</div>
<div class="col-lg-2 col-md-3 col-sm-6 col-12">
    <ul class="stack">
    	<li class="heads">CONTRIBUTE</li>
    	<li>Write an Article</li>
    	<li>Experience</li>
    	<li>Internships</li>
    	<li>Videos</li>
    </ul>
</div>
</div>
  </footer>
<!--for the nav bar and underlying image-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script type="text/javascript" src="app.js"></script>

</body>
</html>