* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: black;
  height: 100vh;
}

.profile-content {
  max-width: 1150px;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-content h5 {
  margin-bottom: 0.1rem;
}

.profile-content p {
  margin-bottom: 0;
}

.profile-content .profile-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.profile-content .profile-left:hover {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.profile-content .profile-left div {
  padding: 1rem;
}

.profile-content .profile-left .profile-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding-bottom: 0.5rem;
}

.profile-content .profile-left .profile-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 10px 1px #4e4e4e;
          box-shadow: 0 3px 10px 1px #4e4e4e;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
}

.profile-content .profile-left .profile-details {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.profile-content .profile-left .profile-details .profile-detail {
  padding-left: 0;
  padding-right: 0;
}

.profile-content .profile-left .profile-details .profile-detail .des {
  padding-left: 0;
}

.profile-content .profile-left .profile-details .profile-detail .but {
  padding-right: 0;
}

.profile-content .profile-right {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  padding-left: 3rem;
  padding-right: 3rem;
}

.profile-content .profile-right div {
  padding: 1.2rem 0rem;
}

.profile-detail,
.profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(119, 119, 119, 0.226);
  padding-left: 0;
}

.but,
.butt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 780px) {
  .profile-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 1080px) {
  .profile-content .profile-left {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
  .profile-content .profile-right {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
}

@media only screen and (max-width: 1080px) {
  .profile-content .profile-left {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
  .profile-content .profile-right {
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
/*# sourceMappingURL=profile.css.map */