{% extends "new/new_base.html" %} {% load static %}

{% block content_head %}
<link rel="stylesheet" type="text/css" href="{% static 'new_css/teach/new_course.css' %}">
<script type="text/javascript" src="..git pulg/static/blogs/css/app.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

{% endblock content_head %}

{% block content %}

<div id="app">

    <div class="container">
        <div>
            <h6>Step <span id="current">1</span> of <span id="total">7</span></h6>
        </div>

        <div class="w3-container">

            <div class="w3-light-orange w3-tiny">
                <div class="w3-container w3-amber" style="width:14%"></div>
            </div>

            <div v-if="current == TITLE" class="container container-fluid container-fluid1" id="kid-project-title"><img
                    src="/media/images/icon.png" class="icon1">
                <h3>How about a working title?</h3>
                <h6>It's ok if you can't think of a good title now. You can change it later.</h6>
                <input type="text" class="example1" placeholder="Ex: Notes App" id="title_input" value="{{title}}">
                <br><span id="error_title"></span>
            </div>

        </div>


        <div v-if="current == CATEGORY" class="container container-fluid container-fluid1" id="kid-project-category">
            <img src="/media/images/icon.png" class="icon1">
            <h3 for="cat-select">Choose a pet:</h3>

            <select id="cat-select">
                <option value="">--Please choose an option--</option>
                <option>App Development</option>
                <option>Web Development</option>
                <option>Image Processing</option>
                <option>Machine Learning</option>
                <option>Cyber Security</option>
                <option>Data Analytics</option>
                <option>Competitive Programming</option>
                <option>Internet of things</option>
            </select>
            <span id="error_cat"></span>
        </div>

        <div v-if="current == DESCRIPTION" class="container container-fluid container-fluid1" id="kid-project-category">
            <img src="/media/images/icon.png" class="icon1">
            <h3>How about a working description?</h3>
            <div class="search-bar">
                <input type="text" class="search-input" placeholder="Keep the description short and simple."
                    maxlength="100" id="description_input" value="">
                <span id="error_description"></span>
            </div>
            <h7>Add Languages</h7>
            <div id="langs" class="autocomplete2">
                <span class="xyz">Java<i id="1" class="fa fa-times" style="display:inline;" aria-hidden="true"
                        onclick="die(event)"></i>
                </span>
                <div class="autocomplete" style="width: 100%;">
                    <input type="search" class="pret" id="search_language" name="Languages" placeholder="Type here">
                </div>
            </div>
            <div class="autocomplete" style="width: 100%;">
                <input type="search" class="pret" id="search_language" name="Languages" placeholder="Type here">
            </div>
            <div id="error_language">
            </div>
            <h8>Add Prerequisites</h8>
            <div class="search-bar">
                <div class="top-bar12">
                    <button id="bold" onclick="document.execCommand('bold')">
                        <i class="fas fa-bold"></i>
                    </button>
                    <button id="underline" onclick="document.execCommand('italic')">
                        <i class="fas fa-italic"></i>
                    </button>
                    <button id="italic" onclick="document.execCommand('underline')">
                        <i class="fas fa-underline" style="font-size: 17px;"></i>
                    </button>
                    <span class="slash">|</span>
                    <button id="bold" onclick="document.execCommand('insertOrderedList')">
                        <i class="fas fa-list-ol"></i>
                    </button>
                    <button id="bold" onclick="document.execCommand('insertUnorderedList')">
                        <i class="fas fa-list-ul"></i>
                    </button>
                    <span class="slash">|</span>
                    <button id="ordered-list" onclick="addLink()">
                        <svg class="svg1" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 531.8 534.09">
                            <!-- <defs>
                                <style>
                                    .cls-1 {
                                        fill: none;
                                        stroke: #000;
                                        stroke-miterlimit: 10;
                                        stroke-width: 30px;
                                    }
                                </style>
                            </defs> -->
                            <path class="cls-1"
                                d="M451.41,436,327.12,560.3c-37.9,37.9-42.61,94.64-10.51,126.74s88.84,27.39,126.74-10.51l44.86-41.59"
                                transform="translate(-280.31 -224.63)"></path>
                            <path class="cls-1"
                                d="M488.21,399.21,616,271.45c37.9-37.91,94.64-42.61,126.74-10.52s27.39,88.84-10.52,126.74L688,431.88"
                                transform="translate(-280.31 -224.63)"></path>
                            <line class="cls-1" x1="348.12" y1="167.77" x2="165.47" y2="350.42"></line>
                            <circle class="cls-1" cx="386.8" cy="389.09" r="130"></circle>
                            <line class="cls-1" x1="327.3" y1="389.09" x2="446.3" y2="389.09"></line>
                            <line class="cls-1" x1="386.8" y1="448.59" x2="386.8" y2="329.59"></line>
                        </svg>
                    </button>
                </div>
                <div class="editor" contenteditable="true" spellcheck="false">

                </div>
                <div id="error_prereq">

                </div>
            </div>
        </div>

        <div v-if="current == DIFFICULTY" class="container-fluid container-fluid1 container">
            <img src="/media/images/no_of_hours.png" class="icon1">
            <h3>Add difficulty level for the project</h3>
            <br>
            <div class="dot">
                <span class="dot-bar">
                    <input class="male" type="radio" id="easy" name="diff" value="EASY">
                    <label for="easy">EASY</label>
                </span>
                <span class="dot-bar">
                    <input class="male" type="radio" id="medium" name="diff" value="MEDIUM">
                    <label for="medium">MEDIUM</label>
                </span>
                <span class="dot-bar">
                    <input class="male" type="radio" id="hard" name="diff" value="HARD">
                    <label for="hard">HARD</label>
                </span>
                <div id="error_diff">
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>



        <div class="container">
            <button class="previous b" id="prev_btn">Previous</button>
            <button class="next b save_btn" id="save_btn">Save</button>
            <button class="next b" id="next_btn" @click="next">Next</button>
        </div>

    </div>
</div>


<script>
    var bold = "'bold'";
    var underline = "'underline'";
    var italic = "'italic'";
    var ordered = "'insertOrderedList'";
    var unordered = "'insertUnorderedList'"

    setTimeout(() => {
        getLangPrereq();
    }, 10);

</script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>

    var app = new Vue({
        el: '#app',
        data: {
            TITLE: "TITLE",
            CATEGORY: "CATEGORY",
            DESCRIPTION: "DESCRIPTION",
            DIFFICULTY: "DIFFICULTY",
            OVERVIEW: "OVERVIEW",
            IMAGE: "IMAGE",
            current: "TITLE"
        },
        methods: {
            next: function () {
                switch (this.current) {
                    case this.TITLE:
                        this.current = this.CATEGORY
                        break;
                    case this.CATEGORY:
                        this.current = this.DESCRIPTION
                        break;
                    case this.DESCRIPTION:
                        this.current = this.DIFFICULTY
                        break;
                    case this.DIFFICULTY:
                        this.current = this.OVERVIEW
                        break;
                    case this.OVERVIEW:
                        this.current = this.IMAGE
                        break;
                    case this.IMAGE:
                        break;

                }
            },
            previous: function () {

            },
            save: function () {

            }
        }
    })


</script>
<script>
    window.onload = function () {
        console.log("hello")
        console.log('{{status}}')
        switch ('{{status}}') {
            case 'title':
                console.log('title')
                this.current = this.TITLE;
                break;
            case 'image':
                this.current = this.IMAGE;
                break;
            case 'overview':
                this.current = this.OVERVIEW;
                break;
            case 'difficulty_level':
                this.current = this.DIFFICULTY;
                break;
            case 'description':
                this, current = this.DESCRIPTION;
                break;
            case 'category':
                this.current = this.CATEGORY;
                break;
        }
    }
</script>

{% endblock content %}