{% extends "base.html" %}
{% load static %}

{% block content_head %}
<script src="{% static 'js/blogs/new_course.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/teach/teach.css' %}">
    <script type="text/javascript" src="..git pulg/static/blogs/css/app.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static  'css/style.css' %}">
{% endblock %}
{% block content %}

<head>
    <script src="{% static 'js/blogs/new_course.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/teach/teach.css' %}">
    <script type="text/javascript" src="..git pulg/static/blogs/css/app.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static  'css/style.css' %}">
    <!-- <script type="text/javascript" src="{% static 'js/teach/teach.js' %}"></script>--> 
</head>

<script>
if('{{project.title}}'){
   assignParam(
    title = '{{project.title}}',
    description = '{{project.description}}',
    difficulty_level = '{{difficulty_level}}',
    no_of_hours = '{{no_of_hours}}',
    languages = '{{selected_languages}}',
    overview = "{{overview}}",
    pre_reqs = '{{project.pre_req.all}}',
    pk = '{{project.pk}}',
    counter = 1,
    chapter_innerHTML = "",
    chapter_count = 2,
    author = '{{project.author.pk}}'
   )
    
    var chapters = []
    {% for chapter in project.chapters.all %}
    var chapter_add_dict = {}
    chapter_add_dict['heading'] = '{{chapter.heading}}'
    chapter_add_dict['content'] = '{{chapter.content}}'
    chapter_add_dict['description'] = '{{chapter.description}}'
    chapter_add_dict['youtube_link'] = '{{chapter.youtube_link}}'
    chapters.push(chapter_add_dict)
    {% endfor %}

}
else{
    assignParam(
        counter = 1,
        chapter_count = 2,
    )

    // class Chapter {
    //     constructor(heading, description, content, youtube_link, link_to) {
    //     this.heading = heading;
    //     this.description = description;
    //     this.content = content;
    //     this.youtube_link = youtube_link;
    //     this.link_to = link_to;
    //     }
}
   
    function saveDraft(key, value, isAdded = false) {
    var key = key;
    var value = value;
            
    var data = {};
    data[key] = value;
    data['pk'] = pk;
    data['csrfmiddlewaretoken'] = $('input[name=csrfmiddlewaretoken]').val();
    data['isAdded'] =isAdded;
    $.ajax({
        method: "POST",
        url: '{% url "api:save_draft" %}',
        data : data,
        success: function(data){
            pk = data.pk
        },error: function(error){
            alert("ERROR!")
        },
        
    })
}

function saveImageDraft() {
    var fileInput = document.getElementById('image_input');
    var file = fileInput.files[0];
    var formData = new FormData();
    formData.append('image', file);
    formData.append('pk', pk);
    formData.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val() )
    
    $.ajax({
        method: "POST",
        url: '{% url "api:save_draft" %}',
        data : formData,
        processData: false,
        contentType: false,
        //processData: false,
        success: function(data){
            pk = data.pk
        },error: function(error){
            alert("ERROR!")
        },
        
    })
}


    function saveChapterDraft() {
        $.ajax({
            method: "POST",
            url: '{% url "api:save_chapter_draft" %}',
            data: {
                'chapters': JSON.stringify(chapters),
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                'pk': pk
            },
            success: function(data){
                // chapters = data.chapters
            }, error: function(error){
                alert("ERROR!")
            }
        })
}
    var languages_all, prereqs_all 
    function getLangPrereq(){
        $.ajax({
            method: 'GET',
            url: "{% url 'api:get_lang_prereq' %}",
            data: {},
            success: function(data){
                languages_all = data.languages,
                prereqs_all = data.prerequisites
            }, error: function(error){
                alert("ERROR!")
            }
        }
        )
    } 

    var project_draft
    function getDraft(){
        $.ajax({
            method: 'GET',
            url: "{% url 'api:save_draft' %}",
            data: {
                'pk': pk
            },
            success: function(data){
                project_draft = data.project_draft

            }, error: function(error){
                alert("ERROR!")
            }
        }
        )
    }


    function createProject(){
   
        for (var i = 0; i < document.getElementsByClassName("time_radio_input").length; i++) {
            if (document.getElementsByClassName("time_radio_input")[i].checked) {
                no_of_hours = document.getElementsByClassName("time_radio_input")[i].value
            }
        }
        saveDraft('no_of_hours',no_of_hours)
        //document.location.href = "/" + "teach";
        $.ajax({
            method: 'POST',
            url: "{% url 'api:create_project' %}",
            data :{
                'pk': pk,
                'csrfmiddlewaretoken': $('input[name= csrfmiddlewaretoken]').val()
            },
            success: function(data){
                pk =data.pk
            }, error: function(error){
                alert("ERROR!")
            }
        }
        )
        document.location.href = "{% url 'teach:list_of_projects' %}"
    }


</script>

<div>
    <div id="main_div">
        {% csrf_token %}
        <div id="1" class="to_hide"></div>
        <div id="2" class="to_hide"></div>
        <div id="3" class="to_hide"></div>
        <div id="4" class="to_hide"></div>
        <div id="5" class="to_hide"></div>
        <div id="6" class="to_hide"></div>
        <div id="7" class="to_hide"></div>
        <div id="8" class="to_hide"></div>
        <div id="9" class="to_hide"></div>
        <div id="10" class="to_hide"></div>
    </div>
</div>

{% endblock %}