{% extends "base.html" %}
{% load static %}

{% block content_head %}
<script src="{% static 'js/blogs/new_course.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/teach/teach.css' %}">
    <script type="text/javascript" src="..git pulg/static/blogs/css/app.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    
{% endblock %}
{% block content %}

<head>
    <script src="{% static 'js/blogs/new_course.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/teach/teach.css' %}">
    <script type="text/javascript" src="..git pulg/static/blogs/css/app.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
    <style>
        .progress-bar{
            background-color: orange !important;
        }

    </style>
</head>

<script>
    window.onload = function () {

    // alert('{{status}}')
    if(window.location.href == 'http://127.0.0.1:8000/teach/add/' ){
        pk = sessionStorage.getItem('pk')
        // alert(pk)
        if (pk == null){
            pk = ""
        }
        else{
            window.location.href = "/teach/add/" + pk
            sessionStorage.removeItem("pk")
        }
        
    }
    else{
        sessionStorage.removeItem('pk')
    }
    
    // alert('{{status}}')
    if('{{status}}' == 'title'){
        createTitlePage();   
    }
    else if(document.referrer.indexOf('http://127.0.0.1:8000/teach/chapter') != -1){
        createNumberOfHours();
    }
    else if('{{status}}' == 'description'){
        createDescriptionPage();   
    }
    else if('{{status}}' == 'difficulty_level'){
        createDifficultyPage();   
    }
    else if('{{status}}' == 'overview'){
        createOverviewPage();   
    }
    else if('{{status}}' == 'image'){
        createImagePage();   
    }
    else if('{{status}}' == 'no_of_hours'){
        createNumberOfHours();   
    }
    else if('{{status}}' == 'chapter'){
        document.location.href = 'http://127.0.0.1:8000/teach/chapter/' + pk      
    }
    else{
        createTitlePage();
    }
    
    
    getLangPrereq();
    
};


if('{{project.title}}'){
   assignParam(
    title = '{{project.title}}',
    description = '{{project.description}}',
    difficulty_level = '{{difficulty_level}}',
    no_of_hours = '{{no_of_hours}}',
    languages = '{{selected_languages}}',
    overview = "{{overview}}",
    pre_reqs = '{{project.pre_req.all}}',
    pk = '{{project.pk}}',
    counter = 1,
    chapter_innerHTML = "",
    chapter_count = 2,
    author = '{{project.author.pk}}',
    image = '{{project.image}}'
   )
    
    var chapters = []
    {% for chapter in project.chapters.all %}
    var chapter_add_dict = {}
    chapter_add_dict['heading'] = '{{chapter.heading}}'
    chapter_add_dict['content'] = '{{chapter.content}}'
    chapter_add_dict['description'] = '{{chapter.description}}'
    chapter_add_dict['youtube_link'] = '{{chapter.youtube_link}}'
    chapters.push(chapter_add_dict)
    {% endfor %}

}
else{
    assignParam(
        counter = 1,
        chapter_count = 2,
        title = "",
        description = "",
        counter = 1,
        chapter_count = 2,
        difficulty_level = '',
        no_of_hours = '',
        languages = [],
        overview = "",
        pre_reqs = [],
        pk = "",
        image = ""
    )

    // class Chapter {
    //     constructor(heading, description, content, youtube_link, link_to) {
    //     this.heading = heading;
    //     this.description = description;
    //     this.content = content;
    //     this.youtube_link = youtube_link;
    //     this.link_to = link_to;
    //     }
}
   
    function saveDraft(key, value, isAdded = false) {
    var key = key;
    var value = value;
            
    var data = {};
    data[key] = value;
    data['pk'] = pk;
    data['csrfmiddlewaretoken'] = $('input[name=csrfmiddlewaretoken]').val();
    data['isAdded'] =isAdded;
    $.ajax({
        method: "POST",
        url: '{% url "api:save_draft" %}',
        async: false,
        data : data,
        success: function(data){
            pk = data.pk
            if(key == 'pre_req' ){
                getLangPrereq();
                for(var i=0; i< prereqs_all.length; i++){
                    document.getElementById("selectpicker_prereq").innerHTML += '<option>' + prereqs_all[i]['name'] + '</option>';
                }
                
                for (var i = 0; i < document.getElementById("selectpicker_prereq").length; i++) {
                option = document.getElementById("selectpicker_prereq").options[i];
                if (pre_reqs.includes(option.value) == true || option.value == value) {
                    option.selected = true;
                    }
                }
            }

            if(key == "languages"){
                getLangPrereq();
                for(var i=0; i< languages_all.length; i++){
                    document.getElementById("selectpicker").innerHTML += '<option>' + languages_all[i]['name'] + '</option>';
                }

                for (var i = 0; i < document.getElementById("selectpicker").length; i++) {
                option = document.getElementById("selectpicker").options[i];
                if (languages.includes(option.value) == true || option.value == value) {
                    option.selected = true;
                }
            }

            }
            
        },error: function(error){
            alert("ERROR!")
        },
        
    })
}

function saveImageDraft() {
    // var fileInput = document.getElementById('image_input');
    // var file = fileInput.files[0];
    // var formData = new FormData();
    // formData.append('image', file);
    // formData.append('pk', pk);
    // formData.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val() )
    if(called == 1){
        var url = document.getElementsByClassName('image')[0].src
    $.ajax({
        method: "POST",
        url: '{% url "api:save_draft" %}',
        data : {
            'pk':pk,
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            'image':url,
        },
        // processData: false,
        // contentType: false,
        //processData: false,
        success: function(data){
            pk = data.pk
        },error: function(error){
            alert("ERROR!")
        },
        
    })
    } 
    }
    


    function saveChapterDraft() {
        $.ajax({
            method: "POST",
            url: '{% url "api:save_chapter_draft" %}',
            data: {
                'chapters': JSON.stringify(chapters),
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                'pk': pk
            },
            success: function(data){
                // chapters = data.chapters
            }, error: function(error){
                console.log('error')
            }
        })
}
    var languages_all = [], prereqs_all = [] 
    function getLangPrereq(){
        $.ajax({
            method: 'GET',
            url: "{% url 'api:get_lang_prereq' %}",
            data: {},
            async:false,
            success: function(data){
                languages_all = []
                prereqs_all = []
                for(var i= 0; i < data.languages.length; i++){
                    languages_all.push(data.languages[i])
                
                }
                // alert(languages_all)
                for(var i= 0; i < data.prerequisites.length; i++){
                    prereqs_all.push(data.prerequisites[i])
                }
                
                // prereqs_all = data.prerequisites
                
            }, error: function(error){
                console.log('error')
            }
        }
        )
    } 

    var project_draft
    function getDraft(){
        $.ajax({
            method: 'GET',
            url: "{% url 'api:save_draft' %}",
            data: {
                'pk': pk
            },
            success: function(data){
                project_draft = data.project_draft

            }, error: function(error){
                console.log('error')
            }
        }
        )
    }

    function createChapterPage(){
        for (var i = 0; i < document.getElementsByClassName("time_radio_input").length; i++) {
       if (document.getElementsByClassName("time_radio_input")[i].checked) {
           no_of_hours = document.getElementsByClassName("time_radio_input")[i].value
       }
   }
    saveDraft('no_of_hours',no_of_hours)
    document.location.href = '/teach/chapter/' + pk
        // document.body.innerHTML += '<button id="difficulty_right_button" type="button" class="btn btn-primary" style="float: right;" onclick="createProject();">Create</button><button id="chapter_left_button" type="button" class="btn btn-primary" style="float: left;" onclick="createImagePage()">Previous</button>' +
        // '</div>';
    }
    // function createProject(){
   
    //     for (var i = 0; i < document.getElementsByClassName("time_radio_input").length; i++) {
    //         if (document.getElementsByClassName("time_radio_input")[i].checked) {
    //             no_of_hours = document.getElementsByClassName("time_radio_input")[i].value
    //         }
    //     }
    //     saveDraft('no_of_hours',no_of_hours)
    //     //document.location.href = "/" + "teach";
    //     $.ajax({
    //         method: 'POST',
    //         url: "{% url 'api:create_project' %}",
    //         data :{
    //             'pk': pk,
    //             'csrfmiddlewaretoken': $('input[name= csrfmiddlewaretoken]').val()
    //         },
    //         success: function(data){
    //             pk =data.pk
    //         }, error: function(error){
    //             alert("ERROR!")
    //         }
    //     }
    //     )
    //     document.location.href = "{% url 'teach:list_of_projects' %}"
    // }



    function setImgurHeader(xhr) {  
    // xhr.setRequestHeader('Cache-Control', null) 
    // xhr.setRequestHeader("Origin, X-Requested-With, Content-Type, Accept, Authorization, Token");
    // xhr.setRequestHeader('Access-Control-Allow-Origin', '*');
    // xhr.setRequestHeader('Access-Control-Allow-Methods', 'GET, POST, PUT, DELETE, PATCH');
    // xhr.setRequestHeader('Origin, X-Requested-With, Content-Type, Accept, Authorization, Authentication');
    // xhr.setRequestAhorization
    xhr.setRequestHeader('Authorization', 'Client-ID {{IMGUR_CLIENT_ID_DEBUG}}') 
    xhr.setRequestHeader('Authorization','Bearer {{IMGUR_BEARER_DEBUG}}');
    // xhr.setRequestHeader('Authorization')
    // xhr.setRequestHeader('Authorization', 'Bearer 7cd876bf6ab3405bad138d3a1886a3048fe9a0f0')
    }
 
function deleteImage(e){
    if(e.getAttribute('data-deletehash') != ""){
        var deletehash = e.getAttribute('data-deletehash')
        $.ajax({
            url: 'https://api.imgur.com/3/image/' + deletehash,
            type: 'DELETE',
            success: function(data){
                    alert('image deleted sucessfully!')
                    for(var i=0;i<document.getElementsByClassName('image').length;i++)
                    // {alert(document.getElementsByClassName('image').length)
                      {document.getElementsByClassName('image')[i].remove();}  
                        
                    
                    document.getElementById('remove_img_btn').remove()
                },
                error: function(error){
                    alert(error)
                },
                beforeSend: setImgurHeader,

               
    })
}
}

var called=0;
function addLocalImage(e){
    called = 1;
    // alert(image)
    // if(image != 'None'){
       
    //     document.getElementById('image_input').setAttribute('data-deletehash',document.getElementById('remove_img_btn').getAttribute('data-deletehash'))
    //     deleteImage(document.getElementById('image_input'))
    // }
    // else{
        var targetDiv=document.getElementsByClassName("editor")[0];
            var file = $(e).prop('files')[0];
            var img=document.createElement("img");
            img.setAttribute('style', 'width:200px;height:200px;');
            // img.setAttribute('style', 'height:200px');

            img.className="image"
            var reader  = new FileReader();
            var fig = document.createElement('figure')
            // var fig_caption = document.createElement('figcaption')
            // fig_caption.className = "fig-caption"
            // fig_caption.innerHTML =  "Write your caption here!"
            fig.className = "fig"
            // fig.setAttribute('contenteditable','true')
            var btn = document.createElement('button')
            btn.setAttribute('id', 'remove_img_btn')
            btn.innerHTML = "REMOVE"
            btn.setAttribute('onclick', 'deleteImage(this)')
            document.getElementById('image_input_div').appendChild(btn)
            fig.appendChild(img);
            document.getElementById('image_input_div').appendChild(fig)
            
            // fig.appendChild(fig_caption)
            // if(fx().className == 'editor' ||  document.body === fx()){
            
            // }
            // else{
            //     console.log('1')
            //     fx().parentNode.insertBefore(fig, fx().nextSibling);
            // }

            reader.addEventListener("load", function () {
                img.src=reader.result;
               
            }); 
            if (file){
                reader.readAsDataURL(file);
            // document.getElementById('inpfile').value = "";
            
            

        }
        
        var formData = new FormData();
        formData.append('image',file);
        // formData.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val() )

        $.ajax({

                method: 'POST',
                url: 'https://api.imgur.com/3/image',
                data: formData,
                contentType: false,
                processData: false,
                success: function(data){
                    alert('success!')
                    img.src = data.data.link
                    document.getElementById('remove_img_btn').setAttribute('data-deletehash', data.data.deletehash)
                    document.getElementById('image_input').setAttribute('data-deletehash', data.data.deletehash)
                    document.getElementById('image_input').value = null
                    document.getElementById('project_image').src = ""
                },
                error: function(error){
                    alert(error)
                },
                beforeSend: setImgurHeader,

                

            })

    }
    
    
    

</script>
<!--local -->
<head>
    <link href="{% static 'css/teach/teach.css'%}" rel="stylesheet">
    <style>
        ::placeholder{
            color:#b8b8b8;
        }
        input{
            display: inline;
            position: relative;
        }
    </style>
</head>
<div>
    <div id="main_div">
        {% csrf_token %}
        <div class="container">
            <div><h6>Step <span id="current">1</span> of <span id="total">7</span></h6></div>
            <!-- <hr class="hr">
            <div class="o">
                <hr class="m">
            </div>
            <div class="p">
                <hr class="m">
            </div>
            <br> -->
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:14%">
                  <!-- <span class="sr-only">70% Complete</span> -->
                </div>
        </div>
        <div id="1" class="to_hide"></div>
        <div id="2" class="to_hide"></div>
        <div id="3" class="to_hide"></div>
        <div id="4" class="to_hide"></div>
        <div id="5" class="to_hide"></div>
        <div id="6" class="to_hide"></div>
        <div id="7" class="to_hide"></div>
        <div id="8" class="to_hide"></div>
        <div id="9" class="to_hide"></div>
        <div id="10" class="to_hide"></div>
        <br>
        <br>
        <div class="container">
            <button class="previous b" id="prev_btn">Previous</button>
            <button class="next b" id="next_btn">Next</button>
        </div>
    </div>
</div>

{% endblock %}