* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

nav {
  height: 9vh;
  background-color: #1a1d20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hamburger {
  display: none;
}

.nav-logo {
  z-index: 3;
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  align-items: center;
}

.nav-tabs {
  width: 50%;
  border: none;
}

.nav-tabs ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.nav-tabs ul li a {
  color: white;
  text-decoration: none;
}

.nav-others {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.nav-others a {
  color: white;
}

@media only screen and (max-width: 1380px) {
  .nav-others {
    width: 22%;
  }
}

@media only screen and (max-width: 1240px) {
  .nav-others {
    width: 25%;
  }
}

@media only screen and (max-width: 1090px) {
  .nav-others {
    width: 30%;
  }
}

@media only screen and (max-width: 940px) {
  nav {
    padding: 0 2rem;
  }
  .line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 5%;
    -webkit-transform: translate(-5%, -55%);
    transform: translate(-5%, -55%);
    z-index: 3;
  }
  .nav-tabs {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100% !important;
    background-color: #1a1d20;
    clip-path: circle(50px at 90% -10%);
    -webkit-clip-path: circle(50px at 90% -10%);
    z-index: 2;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
  .nav-tabs ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .nav-tabs ul li {
    opacity: 0;
  }
  .nav-tabs ul li a {
    font-size: 25px;
  }
  .nav-tabs ul li:nth-child(1) {
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }
  .nav-tabs ul li:nth-child(2) {
    -webkit-transition: all 0.5s ease 0.4s;
    transition: all 0.5s ease 0.4s;
  }
  .nav-tabs ul li:nth-child(3) {
    -webkit-transition: all 0.5s ease 0.6s;
    transition: all 0.5s ease 0.6s;
  }
  .nav-tabs ul li.fade {
    opacity: 1;
  }
  .nav-tabs.open {
    padding: 0;
    clip-path: circle(1200px at 90% -10%);
    -webkit-clip-path: circle(1200px at 90% -10%);
    pointer-events: all;
  }
  .nav-others {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .nav-others form {
    display: none;
  }
}

.noScroll {
  overflow: hidden;
}

.base-dropbtn {
  font-size: 16px;
  border-radius: 50%;
  margin-left: 10px;
  border: none;
  z-index: -2;
}

.base-dropdown {
  position: relative;
  display: inline-block;
}

.base-dropdown img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
}

.base-dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 230px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: -85px;
  z-index: 1;
}

.base-dropdown-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.base-dropdown-content a .base-dropdown-divider {
  height: 0;
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

#base-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

#base-first:hover {
  background-color: #e9e9e9;
  color: black;
}

#base-color {
  color: #f9a80d;
}

#base-color:hover {
  color: white;
}

.base-dropdown-content a:hover {
  background-color: #f9a80d;
  color: white;
}

.base-dropdown:hover .base-dropbtn {
  background-color: #ffffff;
}

.base-show {
  display: block;
}

.ui-autocomplete-category {
  text-transform: uppercase;
  padding: 0.2em 0.4em;
  margin: 0.8em 1rem 0.2em 0.5rem;
  line-height: 1.5;
  color: #f9a80d;
  border-bottom: 1px solid #dadada;
}

.ui-widget {
  font-family: "Montserrat";
}

#base-myDropdown {
  -webkit-transform: translateX(-3%);
  transform: translateX(-3%);
}

#base-myDropdown a {
  padding: 0.3rem 0.5rem !important;
}

#base-login {
  position: fixed;
  width: 380px;
  border: 2px solid #f9a80d;
  margin: auto;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding: 10px;
  min-width: 400px;
  background-color: #ffffff;
  border: 5px solid white;
  top: 50%;
  left: 50%;
  -webkit-box-shadow: 0px 0px 0px 2px #f9a80d inset;
  box-shadow: 0px 0px 0px 2px #f9a80d inset;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 11;
}

#base-login .icon {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  width: 100%;
  text-align: right;
  font-size: 2rem;
  -webkit-transform: translate(7px, -15px);
  transform: translate(7px, -15px);
}

.bi-x {
  cursor: pointer;
}

#base-login .log {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

#base-login .sin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

#base-login .sin i {
  font-size: 1.6rem;
}

#overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.project-main {
  max-width: 1150px;
  margin-top: 1rem;
}

@media only screen and (max-width: 780px) {
  .navbar form input {
    display: none;
  }
  .navbar a {
    text-align: center;
  }
  .base-dropdown {
    padding-left: 0.7rem;
    text-align: center;
  }
  .base-pic {
    display: none;
  }
  #base-myDropdown {
    -webkit-transform: translateX(-4%);
    transform: translateX(-4%);
  }
  #login-btn {
    margin-left: 1rem;
  }
  #base-first {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.base-footer {
  width: 100%;
  /* position: absolute;
    bottom: 0; */
}

.base-footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  background-color: #1a1d20;
  color: #ffffff;
}

.base-footer_content .base-left {
  text-align: center;
  margin-bottom: 2rem;
}

.base-left .bi {
  font-size: 1.6rem;
  color: #f9a80d;
  margin-right: 0.5rem;
}

.base-footer_content .base-left svg {
  cursor: pointer;
  margin-right: 0.6rem;
}

.base-footer_content .base-list ul {
  margin-left: 0;
  list-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

.base-footer_content .base-list ul li a {
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
}

.base-footer_content .base-list ul li a:hover {
  color: rgba(255, 255, 255, 0.75);
}

.base-footer_content .base-list ul li p {
  margin-bottom: 5px;
}

@media only screen and (max-width: 780px) {
  .base-left {
    margin-top: 1rem;
  }
  #base-wave {
    display: none;
  }
}
/*# sourceMappingURL=base.css.map */
