{% extends "new/new_base.html" %} {% load static %} {% block content_head %}
<script src="{% static 'js/blogs/blog_post.js' %}"></script>

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'new_css/blogs/new_chapter_page.css' %}"> {% block title %}
<title>{{ chapter_content.link_to.title |title }} | {{ chapter_content |title }}</title>
{% endblock %} {% endblock %}

<script type="text/javascript">
    { % block jquery %
    }




    { % endblock %
    }
</script>





{% block content %}
{%csrf_token%}
<script>
    var ch_list = new Array;
</script>
<script>
    function fill(e){
            if(document.getElementsByClassName('hel')[0].classList[2]=='bi-bookmarks'){
                $.ajax({
            'method':'POST',
            'url':'{% url "api:create_chap_book" %}',
            'data':{
                'pk':'{{chapter_content.pk}}',
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                'method':'chapter',
            },
            success:function(data){
                // alert('1'+document.getElementsByClassName('bookmark-pop')[p-1].classList[3])
                // document.getElementsByClassName('hel')[0].classList.toggle('bi-bookmarks')
                // document.getElementsByClassName('hel')[0].classList.toggle('bi-bookmarks-fill')
                for(var i=0; i< document.getElementsByClassName(data.pk).length; i++ ){
                document.getElementsByClassName(data.pk)[i].children[0].classList.toggle('bi-bookmarks')
                document.getElementsByClassName(data.pk)[i].children[0].classList.toggle('bi-bookmarks-fill')
                document.getElementsByClassName(data.pk)[i].children[0].children[0].innerHTML = data.count
                }
            },error:function(error){
                console.log('error')
            },
        })
            }
           else{
            $.ajax({
            'method':'POST',
            'url':'{% url "api:delete_chap_book" %}',
            'data':{
                'pk':'{{chapter_content.pk}}',
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                'method':'chapter',
            },
            success:function(data){
                // alert(document.getElementsByClassName('hel')[0].classList)
                // document.getElementsByClassName('hel')[0].classList.toggle('bi-bookmarks')
                // document.getElementsByClassName('hel')[0].classList.toggle('bi-bookmarks-fill')
                for(var i=0; i< document.getElementsByClassName(data.pk).length; i++ ){
                document.getElementsByClassName(data.pk)[i].children[0].classList.toggle('bi-bookmarks')
                document.getElementsByClassName(data.pk)[i].children[0].classList.toggle('bi-bookmarks-fill')
                document.getElementsByClassName(data.pk)[i].children[0].children[0].innerHTML = data.count
                }
            },error:function(error){
                console.log('error')
            },
        })       
           }
        
        }
        
   
    // function create_bookmark(){
        
    // }
   
</script>

<div class="chapter-content">
    <div class="chapter-window">

        <div class="chapter-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'project:index' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'project:sub_topic' slug=slug %}">{{ title | safe }}</a></li>
                <li class="breadcrumb-item">{{ chapter_content.title | safe  }}</li>
            </ol> -->

            <div class="list-group">
                {% for chapter in chapters %} {% if chapter.slug == chapter_content.slug %}
                {% if can_review %}
                <a type="button" class="list-group-item list-group-item-action active" href="{% url 'project:chapter_post_review' slug=slug chapter=chapter.slug %}"><!-- {{forloop.counter}}|-->{{ chapter.title| safe }}</a>
                {%else%}
                <a type="button" class="list-group-item list-group-item-action active" href="{% url 'project:chapter_post' slug=slug chapter=chapter.slug %}"><!-- {{forloop.counter}}|-->{{ chapter.title | safe }}</a>
                {% endif %}
                <script>
                    ch_list.push('{{chapter.slug}}')
                    console.log(ch_list)
                </script>
                {%else%}
                
                {% if can_review %}
                <a type="button" class="list-group-item list-group-item-action" href="{% url 'project:chapter_post_review' slug=slug chapter=chapter.slug %}"><!-- {{forloop.counter}}|-->{{ chapter.title | safe}}</a>
                {%else%}
                <a type="button" class="list-group-item list-group-item-action" href="{% url 'project:chapter_post' slug=slug chapter=chapter.slug %}"><!--{{forloop.counter}}| -->{{ chapter.title  | safe}}</a>
                {%endif %}
                <script>
                    ch_list.push('{{chapter.slug}}')
                    console.log(ch_list)
                </script>
                {% endif %} {% endfor %}
            </div>
        </div>


        <div class="chapter-right">
            <div class="chapter-head">
                <div class="chapter-bkmrk">
                    <div class="chapter-flex mb-2">
                <h1 style="margin-bottom: 0;">{{chapter_content.title | safe}}</h1>
                <p style="margin: 0;">Author: {{chapter_content.author}}<span style="color: #f9a80d; font-weight: 600; font-size: 1.3rem;"> | </span>Date: {{chapter_content.date_posted.date}}</p>
                </div>
                {%if request.user.is_authenticated%}{%if chapter_content.bookmark.all and request.user.user in chapter_content.bookmark.all%}
                <div onclick="fill(this)" class="{{chapter_content.pk}}"><i class="bi hel bi-bookmarks-fill" ><span  style=" font-style: normal; font-size: 1.6rem; margin: auto 0;" >{{chapter_content.bookmark.all.count}}</span></i></div>
                {%else%}
                <div  onclick="fill(this)" class="{{chapter_content.pk}}"><i class="bi hel bi-bookmarks"><span  style=" font-style: normal; font-size: 1.6rem; margin: auto 0;" >{{chapter_content.bookmark.all.count}}</span></i></div>                    
                {%endif%}{% else %}{%if chapter_content.bookmark.all and request.user.user in chapter_content.bookmark.all%}
                <div onclick="on()" class="{{chapter_content.pk}}"><i class="bi hel bi-bookmarks-fill" ><span  style=" font-style: normal; font-size: 1.6rem; margin: auto 0;" >{{chapter_content.bookmark.all.count}}</span></i></div>
                {%else%}
                <div  onclick="on()" class="{{chapter_content.pk}}"><i class="bi hel bi-bookmarks"><span  style=" font-style: normal; font-size: 1.6rem; margin: auto 0;" >{{chapter_content.bookmark.all.count}}</span></i></div>                    
                {%endif%}{%endif%}
                </div>
            </div>
            <!-- <div class="chapter-middle">
                {{chapter_content.content | safe}}
            </div> -->
            <div class="chapter-foot">
                {% if chapters.0 != chapter_content %}
                <button class="btn btn-md btn-warning" onclick="previous()">Previous</button> 
                {%else%}
                <button class="btn btn-md btn-warning chapter-btn-hide" onclick="previous()">Previous</button>
                {%endif%}

                {% if chapters.last != chapter_content %}  
                <button id="nxt_btn_project" class="btn btn-md btn-warning" onclick="next()">Next</button>
                {%else%}
                <button id="nxt_btn_project" class="btn btn-md btn-warning chapter-btn-hide" onclick="next()">Next</button>
                {% endif %}
            </div>
        </div>
    </div>

    
<script>
    
    function reviewAndCreateProject(){
        pk = "{{chapter_content.link_to.pk}}"
           $.ajax({
       method: 'POST',
       url: "{% url 'api:create_project' %}",
       data :{
           'pk': pk,
           'csrfmiddlewaretoken': $('input[name= csrfmiddlewaretoken]').val()
       },
       success: function(data){
           pk =data.pk
       }, error: function(error){
            console.log("ERROR!")
       }
   }
   )
   document.location.href = "{% url 'teach:list_of_projects' %}"
    }
</script>
    {% if can_review %}
<div class="index-button" >
    <a style="color: white;" onclick="reviewAndCreateProject()" class="btn btn-warning py-1 px-2 ">CREATE PROJECT</a>
</div>
<div class="index-button" >
    <a style="color: white;" href="/teach/chapter/{{chapter_content.link_to.pk}}/{{chapter_content.pk}}" class="btn btn-warning py-1 px-2 ">EDIT</a>
</div>
{% endif %}

    <script>
        function previous() {
            for (var i = 0; i < ch_list.length; i++) {
                console.log(ch_list)
                if (ch_list[i] == '{{chapter_content.slug}}' && i > 0) {
                    document.location.href = '/' + '{{slug}}/' + ch_list[i - 1];

                }
            }
        }

        function next() {
            for (var i = 0; i < ch_list.length; i++) {
                console.log('{{chapter_content.slug}}')
                if (ch_list[i] == '{{chapter_content.slug}}' && i < ch_list.length - 1) {
                    document.location.href = '/' + '{{slug}}/' + ch_list[i + 1];

                }
            }
        }
        //             var suggestions
        // function getSuggestion(){
        // 	$.ajax({
        // 		method:'GET',
        // 		url:  "{% url 'api:get_suggestion'%}",
        // 		data:{
        //             // 'project':'{{project.pk}}',
        //             'chapter': '{{chapter_content.pk}}'
        // 			// 'content':document.getElementById('sugg_inp').value,
        // 			// 'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
        // 		},
        // 		success:function(data){
        //             sug = document.getElementById('suggestions-list')
        //             sug.innerHTML = ""
        //             if('{{request.user.is_superuser}}' == 'True' || '{{request.user}}' == '{{chapter_content.link_to.author.user}}' ){
        //             for (var i = 0; i < data.suggestions.length; i++){
        //                 sug.innerHTML += '<div class="row"><div class="col-1"><span class="glyphicon glyphicon-user"></span></div><div class="col-11"><h5>' + data.suggestions[i].content  +'-'+data.suggestions[i].created_on +'</h5></div></div>'
        //                 sug.innerHTML +='<button type="button" onclick="resolveSuggestion(this)" data-pk = "' + data.suggestions[i].id +'">Resolve</button>'
        //                 }
        //             }
        // 		},error:function(error){
        // 			console.log(error)
        // 		},
        //     })
        // }
        //     getSuggestion()
        // function addSuggestion(){
        // 	$.ajax({
        // 		method:'POST',
        // 		url:  "{% url 'api:create_suggestion'%}",
        // 		data:{
        //             'project':'{{chapter_content.link_to.pk}}',
        //             'chapter': '{{chapter_content.pk}}',
        // 			'content':document.getElementById('sugg_inp').value,
        // 			'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
        // 		},
        // 		success:function(data){
        // 			getSuggestion()
        // 		},error:function(error){
        // 			console.log(error)
        // 		},
        // 	})
        //     // location.reload()
        // }
        // function resolveSuggestion(e){
        //     var pk = e.getAttribute('data-pk')
        // 	$.ajax({
        // 		method:'POST',
        // 		url:  "{% url 'api:resolve_suggestion'%}",
        // 		data:{
        // 			'pk': pk,
        // 			'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
        // 		},
        // 		success:function(data){
        //             getSuggestion()
        // 		},error:function(error){
        // 			console.log(error)
        // 		},
        //     })
        // }
    </script>




</div>



<!-- <div id="suggestions-list"></div> -->

<!-- <script>
    var codes = document.getElementsByClassName('code')

    if( '{{request.user.is_superuser}}' == 'True'){
        for(var i = 0; i< codes.length; i++ ){
            codes[i].addEventListener('mouseover', function(e){
                
                if(document.getElementById('sugg_btn') != null &&  e.target.getAttribute('class') != 'sugg_btn'){
                    document.getElementById('sugg_btn').remove()
                }

                if(e.target.getAttribute('class') != 'sugg_btn' ){
                    var btn = document.createElement('button')
                    btn.setAttribute('class', 'sugg_btn')
                    btn.innerHTML = 'ADD SUGGESTION'
                    btn.setAttribute('id', 'sugg_btn')
                    btn.setAttribute('onclick', 'createInputBox(this);')
                    // e.target.appendChild(btn)
                    e.target.insertBefore(btn, e.target.firstChild.nextSibling);
                }
            })
        }
    }

    p_tags = document.getElementsByTagName('p')
    if( '{{request.user.is_superuser}}' == 'True'){
    for(var i = 0; i< p_tags.length; i++ ){
        p_tags[i].addEventListener('mouseover', function(e){
            
            if(document.getElementById('sugg_btn') != null &&  e.target.getAttribute('class') != 'sugg_btn'){
                document.getElementById('sugg_btn').remove()
            }

            if(e.target.getAttribute('class') != 'sugg_btn' ){
                var btn = document.createElement('button')
                btn.setAttribute('class', 'sugg_btn')
                btn.innerHTML = 'ADD SUGGESTION'
                btn.setAttribute('id', 'sugg_btn')
                btn.setAttribute('onclick', 'createInputBox(this);')
                // e.target.appendChild(btn)
                e.target.insertBefore(btn, e.target.firstChild.nextSibling);
            }
        })
    }
}

    var title = document.getElementsByTagName('h1')
    if( '{{request.user.is_superuser}}' == 'True'){
    for(var i = 0; i< title.length; i++ ){
        title[i].addEventListener('mouseover', function(e){
            
            if(document.getElementById('sugg_btn') != null &&  e.target.getAttribute('class') != 'sugg_btn'){
                document.getElementById('sugg_btn').remove()
            }

            if(e.target.getAttribute('class') != 'sugg_btn' ){
                var btn = document.createElement('button')
                btn.setAttribute('class', 'sugg_btn')
                btn.innerHTML = 'ADD SUGGESTION'
                btn.setAttribute('id', 'sugg_btn')
                btn.setAttribute('onclick', 'createInputBox(this);')
                // e.target.appendChild(btn)
                e.target.insertBefore(btn, e.target.firstChild.nextSibling);
            }
        })
    }
}




    function createInputBox(e){
        if(document.getElementById('sugg_inp') == null){
        var inp = document.createElement('input')
        inp.id = "sugg_inp"
        // document.getElementById('sugg_btn').remove()
        e.parentNode.appendChild(inp)
        
        }
    }

    document.addEventListener('keyup', function(e){
        if (e.keyCode == "13"){
            if(document.getElementById('sugg_inp') != null){
                var value = document.getElementById('sugg_inp').value
                addSuggestion();
            }
            document.getElementById('sugg_inp').remove()
        }
    })

</script>


 -->








<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
{% endblock content %}