{% extends "new/new_base.html" %}{% load static %}

<!-- Required meta tags -->
{% block content_head %}
<script src="{% static 'js/blogs/index.js' %}"></script>


<link rel="stylesheet" href="{% static 'new_css/blogs/new_index.css' %}">
<!-- <script src="{% static 'js/script.js' %}"></script> -->
{% endblock %} {% block title %}
<title>KnowInDeep</title>
{% endblock %} {% block content %}

<div class="index-content">
    <div class="container">
        <h3>Our Popular Projects</h3>
        <div class="index-cards">
            {% for project in projects %}
            <div class="card">
                {%if project.image%}
                <img src="{{project.image}}" class="card-img-top" alt="...">{% else %}
                <img src="{% static 'images/blog-pic.png' %}" class="card-img-top"> {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ project.title | title }}</h5>
                    <h6 class="card-text">{{project.description | truncatewords:10}}</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Author Name: <span>{{project.author}}</span></li>
                        <li class="list-group-item">Hours to complete: <span>{{project.no_of_hours}}</span></li>
                        <li class="list-group-item">Level: <span>{{project.difficulty_level}}</span></li>
                        <li class="list-group-item">Languages: </li>
                    </ul>
                </div>
                <div class="index-cta">
                    <div class="index-button">
                        <a style="color: white;" href="#" onclick="location.href = '{% url 'blogs:sub_topic' project.slug %}';" class="btn btn-warning">GO TO BLOG</a>
                    </div>
                    {% if request.user.is_superuser %} {% if not project.isApproved %}

                    <div class="index-button-approve">
                        <a href="#" class="btn btn-success" onclick="location.href='{% url 'blogs:approve' project.slug %}';">Approve</a>
                    </div>
                    {% else %}
                    <div class="index-button-remove">
                        <a href="#" class="btn btn-danger" onclick="location.href='{% url 'blogs:remove' project.slug %}';">Remove</a>
                    </div>
                    {% endif %} {% endif %}
                    <div class="index-share">
                        <svg style="width: 5%;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="share-square" class="svg-inline--fa fa-share-square fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M568.482 177.448L424.479 313.433C409.3 327.768 384 317.14 384 295.985v-71.963c-144.575.97-205.566 35.113-164.775 171.353 4.483 14.973-12.846 26.567-25.006 17.33C155.252 383.105 120 326.488 120 269.339c0-143.937 117.599-172.5 264-173.312V24.012c0-21.174 25.317-31.768 40.479-17.448l144.003 135.988c10.02 9.463 10.028 25.425 0 34.896zM384 379.128V448H64V128h50.916a11.99 11.99 0 0 0 8.648-3.693c14.953-15.568 32.237-27.89 51.014-37.676C185.708 80.83 181.584 64 169.033 64H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48v-88.806c0-8.288-8.197-14.066-16.011-11.302a71.83 71.83 0 0 1-34.189 3.377c-7.27-1.046-13.8 4.514-13.8 11.859z"></path></svg>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <h3>All our projects</h3>

        <div class="index-cards">
            {% for project in all_projects %}
            <div class="card">
                {%if project.image%}
                <img src="{{project.image}}" class="card-img-top" alt="...">{% else %}
                <img src="{% static 'images/blog-pic.png' %}" class="card-img-top"> {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ project.title | title }}</h5>
                    <h6 class="card-text">{{project.description | truncatewords:10}}</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Author Name: <span>{{project.author}}</span></li>
                        <li class="list-group-item">Hours to complete: <span>{{project.no_of_hours}}</span></li>
                        <li class="list-group-item">Level: <span>{{project.difficulty_level}}</span></li>
                        <li class="list-group-item">Languages: </li>
                    </ul>
                </div>
                <div class="index-cta">
                    <div class="index-button">
                        <a style="color: white;" href="#" onclick="location.href = '{% url 'blogs:sub_topic' project.slug %}';" class="btn btn-warning">GO TO BLOG</a>
                    </div>
                    {% if request.user.is_superuser %} {% if not project.isApproved %}

                    <div class="index-button-approve">
                        <a href="#" class="btn btn-success" onclick="location.href='{% url 'blogs:approve' project.slug %}';">Approve</a>
                    </div>
                    {% else %}
                    <div class="index-button-remove">
                        <a href="#" class="btn btn-danger" onclick="location.href='{% url 'blogs:remove' project.slug %}';">Remove</a>
                    </div>
                    {% endif %} {% endif %}
                    <div class="index-share">
                        <svg style="width: 5%;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="share-square" class="svg-inline--fa fa-share-square fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M568.482 177.448L424.479 313.433C409.3 327.768 384 317.14 384 295.985v-71.963c-144.575.97-205.566 35.113-164.775 171.353 4.483 14.973-12.846 26.567-25.006 17.33C155.252 383.105 120 326.488 120 269.339c0-143.937 117.599-172.5 264-173.312V24.012c0-21.174 25.317-31.768 40.479-17.448l144.003 135.988c10.02 9.463 10.028 25.425 0 34.896zM384 379.128V448H64V128h50.916a11.99 11.99 0 0 0 8.648-3.693c14.953-15.568 32.237-27.89 51.014-37.676C185.708 80.83 181.584 64 169.033 64H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48v-88.806c0-8.288-8.197-14.066-16.011-11.302a71.83 71.83 0 0 1-34.189 3.377c-7.27-1.046-13.8 4.514-13.8 11.859z"></path></svg>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

<!-- <div class="index-content">
        <div class="container">
            <h3>Our Popular Projects</h3>

            <div class="cards">
                {% for project in projects %}
                <div class="card">
                    {%if project.image%}
                    <img class="card-img-top" src="{{project.image}}" alt="Card image cap"> {%else%}
                    <img class="card-img-top" src="{% static 'images/blog-pic.png' %}" alt="Card image cap"> {%endif%}
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title | title }}</h5>
                        <h6 class="card-text">{{project.description | truncatewords:10}}</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Author Name: <span>{{project.author}}</span></li>
                            <li class="list-group-item">Hours to complete: <span>{{project.no_of_hours}}</span></li>
                            <li class="list-group-item">Level: <span>{{project.difficulty_level}}</span></li>
                            <li class="list-group-item">Languages Used:
                                <div>
                                    {% for language in project.languages.all %}{% if language.image %}
                                    <img src="{{language.image.url}}" class="lang"> {% endif %}{% endfor %}

                                </div>
                        </ul>
                        <a class="btn btn-primary" onclick="location.href = '{% url 'blogs:sub_topic' project.slug %}';"> &emsp; GO TO BLOG
                            &emsp;</a> {% if request.user.is_superuser %} {% if not project.isApproved %}
                        <a class="btn btn-primary" href="#" onclick="location.href='{% url 'blogs:approve' project.slug %}';">Approve</a> {% else %}
                        <a class="btn btn-primary" href="#" onclick="location.href='{% url 'blogs:remove' project.slug %}';">Remove</a> {% endif %} {% endif %} {% if project.isApproved %} {% include 'dropdown/dropdown.html' with url=project.getCompleteUrl
                        function="copyProjectPageURLToClipBoard(this)" %} {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <h3>All Our Projects</h3>
            <div class=" cards">
                {% for project in all_projects %}
                <div class="card">
                    {%if project.image%}
                    <img class="card-img-top" src="{{project.image}}" alt="Card image cap"> {%else%}
                    <img class="card-img-top" src="{% static 'images/blog-pic.png' %}" alt="Card image cap"> {%endif%}
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title | title }}</h5>
                        <h6 class="card-text">{{project.description | truncatewords:10}}</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Author Name: <span>{{project.author}}</span></li>
                            <li class="list-group-item">Hours to complete: <span>{{project.no_of_hours}}</span></li>
                            <li class="list-group-item">Level: <span>{{project.difficulty_level}}</span></li>
                            <li class="list-group-item">Languages Used:
                                <div>
                                    {% for language in project.languages.all %}{% if language.image %}
                                    <img src="{{language.image.url}}" class="lang"> {% endif %}{% endfor %}

                                </div>
                        </ul>
                        <a class="btn btn-primary" onclick="location.href = '{% url 'blogs:sub_topic' project.slug %}';"> &emsp; GO TO BLOG
                            &emsp;</a> {% if request.user.is_superuser %} {% if not project.isApproved %}
                        <a class="btn btn-primary" href="#" onclick="location.href='{% url 'blogs:approve' project.slug %}';">Approve</a> {% else %}
                        <a class="btn btn-primary" href="#" onclick="location.href='{% url 'blogs:remove' project.slug %}';">Remove</a> {% endif %} {% endif %} {% if project.isApproved %} {% include 'dropdown/dropdown.html' with url=project.getCompleteUrl
                        function="copyProjectPageURLToClipBoard(this)" %} {% endif %}
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div> -->
{% endblock content %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</html>