<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div>
    <dialog id="myFirstDialog" style="width:50%;background-color:#F4FFEF;border:1px dotted black;">
        <i class="fa fa-google-plus-square" style="font-size:36px"></i>
        <i class="fa fa-github" style="font-size:36px"></i>
    </dialog>
    <button id="show">Show Dialog</button>
</div>

<!-- JavaScript to provide the "Show/Close" functionality -->  
<script type="text/JavaScript">  
    (function() {    
        var dialog = document.getElementById('myFirstDialog');    
        document.getElementById('show').onclick = function() {    
            dialog.show();    
        };    
        document.getElementById('hide').onclick = function() {    
            dialog.close();    
        };    
    })();   
    </script>  