{% extends 'base.html' %}

{% block content %}

<body>


  <style>
    body{
        background-color: #d0d0d0;
    }
.outerr{
    background-color: white;
    width: 600px;
    margin: 10% auto;
    padding: 10px;
}
.innner{
    border: 1px solid #f9a80d;
    padding: 40px 20px 30px 20px;
    text-align: center;
}
.l{
    font-size: 50px;
    font-family: 'gilroy';
}
.log1{
    background-image: url("/media/images/google_login.png");
    width: 488px;
    height: 76px;
    margin:auto;
}
.log2{
    background-image: url("/media/images/github_login.png");
    width: 488px;
    height: 76px;
    margin:auto;
}
.innn{
    color: white;
    padding: 25px 0 0 80px;
    font-size: 24px;
    font-family: 'georgia';
}
.sign1,.sign1:active,.sign1:visited{
    color: #4287f6;
}
.loginlink, .loginlink:hover{
  color: inherit;
}

</style>
<div class="outerr">
    <div class="innner">
        <div class="l">Log In</div>
        <br>
        <div><a href="#" class="sign1" style="text-decoration: none; font-size: 20px;"><em>Sign Up Here</em></a> </div>
        <br>
        <div class="log1"><div class="innn"><a class="loginlink" href="{% url 'social:begin' 'google-oauth2' %}?next={{request.path}}">Log In with Google</a></div></div>
        <br>
        <div style="font-size: 20px; font-family: 'gilroy';"><em>-------------  or  -------------</em></div>
        <br>
        <div class="log2"><div class="innn"><a class="loginlink" href="{% url 'social:begin' 'github' %}?next={{request.path}}">Log In with Github</a></div></div>

    </div>
</div>
  <!-- <div class="container">
    <h1 class="center">Login with</h1>
    <div class="row" style="margin-top: 50px;">
      <div class="col-6 center">
        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{request.path}}">
          <img src="/static/images/google-logo.svg" alt="googleLogo" width="200" height="200" />
        </a>
      </div>
      <div class="col-6 center">
        <a href="{% url 'social:begin' 'github' %}?next={{request.path}}">
          <img src="/static/images/github-logo.svg" alt="githubLogo" width="200" height="200" />
        </a>
      </div>
    </div> -->


    <!-- <form action="" method="POST" class="col s12">
      {% csrf_token %}
      <div class="row">
        <div class="input-field col s12">
          <label for="inputEmail3">Email</label>
          <input type="text" class="validate" name="username" id="inputEmail3" placeholder="Enter your Email">
        </div>  
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="inputEmail3">Password</label>
          <input type="password" class="validate" name="password" id="inputEmail3" placeholder="Enter password">
          <span class="helper-text">New user? <a href="{% url 'site_users:register' %}">sign up here!</a></span>
        </div>
      </div>
      {% if error %}
      {{ error }}
      {% endif %}
      <div class="row">
        <div class="col sm12">
          <button class="waves-effect waves-light btn" id="submitButton" type="submit">
            Submit
          </button>
        </div>
      </div>
    </form> -->
  <!-- </div> -->
</body>


{% endblock %}