<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="d_style.css">
</head>
<body>
<br>
<br>
<div class="dropdown">
	<span>hi this is the button</span><button class="dropbtn"><img class="image" src="share.png"></button>
	<div class="dropdown-content">
	  <a href="#"><img src="twitter.png"><span class="name">&emsp; Twitter</span></a>
	  <a href="#"><img src="facebook.png"><span class="name">&emsp; Facebook</span></a>
	  <a href="#"><img src="linkedin.png"><span class="name">&emsp; Linkedin</span></a>
	  <a href="#"><img src="link.png"><span class="name">&emsp; Copy link</span></a>
	</div>
</div>

</body>
</html>