<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
 

<div class="dropdown left">
<button onclick="this.parentElement.children[1].classList.toggle('show');" class="dropbtn">
  <svg class="image-share" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21" height="19" viewBox="0 0 21 19">
  <image width="21" height="19" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAATCAYAAAB/TkaLAAABl0lEQVQ4jZ3UTYhOcRTH8c/D4628btiwGaJQykKS2FnLioWFqClRdl42LOytJCulJkwpxQbFwsvGEhsLFpYWo0SGMaNT5+bvPv/rGc9v8+/+z7nfzjn3d25v+vYKI2oNLuEyPpWIBaMS8Rkn8Bgby0AfmzBWeWkRvuMZfhT3YwnZgp/Ygac4jJcN9B62VaBfcDSB0dFBnMJuLGvlbsBDHMdkQFdiBlfxDT3M4RZeYyuu4MCQcSzHHWzv50VUcxbTrcS9uIu1Q4Cl1jUfqpcVl4qR3P8P4CzOY7zfkbAUN7G6EnuPt5jCoWw7nHAyR6YLegw7i+cYyyQm8Bxfs7uAfsQRvGiSa9BV2UajJziHV628MP8DXMS7MlCD7k+LhK7hTMunjaaywgHVNmpXntdzTjVgaCE2p9V6ZaAG3YM3ON0Ba7Q+fXwhfV2FzhV347mC/1LkLa54e6DSmPGNZodHVbvSmbTNfDTblVN+/fgrxfB/5TlMkd8JjWD8daLlqHQ+iq6WFMUMQB9hX67mX9YYogB/yOX4I/wGchJLS3o9/DsAAAAASUVORK5CYII="/>
</svg>
</button>
	<div class="dropdown-content" id="myDropdown">
    <a data-href="" href="https:www.twitter.com/share?url={{url}}&text=Lorem Ipsum" class="twitter-share"  data-text ="Lorem Ipsum" onclick="return !window.open(this.href, 'Twitter', 'width=640,height=580')">
      <svg class="image-share" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14" height="12" viewBox="0 0 14 12">
        <defs>
          <style>
            .cls-1 {
              opacity: 0.4;
            }
          </style>
        </defs>
        <image id="_23931" data-name="23931" class="cls-1" width="14" height="12" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAA3UlEQVQokY3STStFYRTF8Z97vYYkCsVEZIAv4Bv4tndoYMTYhKGMGItEkreW9tFxO7r3X6en57TXfln7mTCaPWzhGRcVvRDhPjZw2pHiCAet+xtecdXDFLZxjMVWUG9IFKYxj8c+HrCLVRxiCV9YroTDXKfiZPrFE+aQ1nfq+4+X/I9wBmtjmNRwn7Nf1TLwSs0wijN89CroBrNjiC7L2Z+K4bNajmNpv2u/2eNJc2mEcfEO79isVbSJIYOmWkjmLD+PoMv6EPvPK+kvEcaQVFmvOdNFMse929rzX/ANg+clckstZH4AAAAASUVORK5CYII="/>
      </svg>
      <span class="name">&emsp; Twitter</span>
    </a>
  
	  <!-- <a href="" data-href="" class="fb-share-button" data-layout="button_count" ><img src="/media/facebook.png"><span class="name">&emsp; Facebook</span></a> -->
    <a data-href="" href="https://www.facebook.com/sharer/sharer.php?app_id=&sdk=joey&display=popup&ref=plugin&src=share_button&u={{url}}" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=580')" class="share-btn">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="12" viewBox="0 0 12 12" class="image-share">
        <defs>
          <style>
            .cls-1 {
              opacity: 0.4;
            }
          </style>
        </defs>
        <image id="_74019-instagram-icons-media-computer-facebook-social-logo" data-name="74019-instagram-icons-media-computer-facebook-social-logo" class="cls-1" width="12" height="12" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAr0lEQVQokY3RvWqCQRCF4Sf+xEaENLFIqliblJreW/FGLYQkha0XkCYQEAuJGFGZMMISvk881ZndeYczuzeY4NF12rTwdGVz6DaAXZiahm+s0ckU+9aFaUvM0kf0KRp1wBHz9M+4T3+oA2LiPv24OK8EPvFV1Av0MKiL9J7LnvWBuwRUAaME3rJ+Rf+8W6MCeMBLUQ+LpQVQ9QfxSqFYvlQ7Iq3Q/XfxU/gtmn+O3xPEWRseK64bmQAAAABJRU5ErkJggg=="/>
      </svg>
      <span class="name">&emsp; Facebook</span>
    </a> 

	  <a data-href="" class="linkedin-share" href="https://www.linkedin.com/shareArticle?mini=true&url={{url}}" onclick="return !window.open(this.href, 'LinkedIn', 'width=640,height=580')"><img src="/media/images/linkedin.png" class="image-share"><span class="name">&emsp; Linkedin</span></a> 
	  <!-- <a href="#" data-href=""><img src="/media/linkedin.png" class="image-share"><span class="name">&emsp; Linkedin</span></a> -->
	  <a href="#" onclick="{{function}};return false;" data-href="{{url}}" class="clipboard" ><img src="/media/images/link.png" class="image-share"><span class="name">&emsp; Copy link</span></a>
	</div>
</div>

</body>
</html>