<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
				<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>

<body>

	<div>
	
		<div class="banner9">
			<div>
				<div class="tst">caption cation Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

			<div class="timeline">
			  <div class="container23 left">
			    <div class="content">
			      <h2>WHO ARE WE?</h2>
			      <p>We are a group of young and enthusiastic undergrads trying to solve a problem every programmer or anyone who has tried his hands with languages or technical buildup ever faces. We have tried to explain things in their most raw form but making practical applications easier.
			      </p>
			      <img src="what-do-we-do.png" class="ikg" style="margin-top: 180px;">
			    </div>
			  </div>
			  <div class="container23 right">
			    <div class="content">
			    	<img src="who-are-we.png" class="ikg" style="margin-bottom: 100px;">
			      <h2>WHAT DO WE DO??</h2>
			      <p>We believe that the best way to learn anything is through application and we aim to provide that through hands-on projects and their logic and coding tutorials in various technical fields such as web development, app development, image processing, cybersecurity, GitHub, and competitive programming and many more to come, thus, enabling our users to create an everlasting skill to provide them with a working skill and not just some theoretical knowledge. You apply, you learn. 			Apart from this, we also teach the basics of programming under various modules and enable our users to understand each and every piece of stuff they see on KnowInDeep.
					</p><img src="how-do-we-do-it.png" class="ikg" style="    margin-top: 170px;">
			    </div>
			  </div>
			  <div class="container23 left" style="margin-top: -410px;">
			    <div class="content">
			      <h2> HOW DO WE DO IT?</h2>
			      <p>We have a network of well-qualified techies who are here to create. They are the project and blog creators. Want to become a KnowInDeep creator? Click here(link)
				  </p>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
				  <br>
			    </div>
			  </div>
			  
			</div>

			<div class="main">
				<h1>Meet The Founders</h1>
			  
				  <ul class="cards" style="display: flex;">
				    <li class="cards_item">
				      <div class="card">
				        <div class="card_image"><img src="rahul.jpg" class="fimg"></div>
				        <div class="card_content">
				          <h2 class="card-title1">Rahul Kedia</h2>
						  <h5 class="dull">Founder</h5>
						  <hr class="rule09">
				      <p class="card-text">He is the founder. An IIT (ISM) Dhanbad undergraduate, a coder by heart and businessman by blood. He is enthusiastic about Image Processing and has freelanced for many firms. He is constantly in search of solutions to problems he personally faces and knows the struggle of every programmer out there.</p>
				        </div>
				      </div>
				    </li>
				    <li class="cards_item">
				      <div class="card">
				        <div class="card_image"><img src="niket.jpg" class="fimg"></div>
				        <div class="card_content">
				          <h2 class="card-title1">Niket Kumar</h2>
						  <h5 class="dull">Co-Founder</h5>
						  <hr class="rule09">
				      <p class="card-text">The co-founder, also an IIT (ISM) undergraduate, having worked in business, marketing, and public relations for many firms. He is passionate about technology and how it could be made accessible on a larger scale. As a beginner in programming, the problems which he faced, he knows are a holdback.</p>
				        </div>
				      </div>
				    </li>
				    <li class="cards_item">
				      <div class="card">
				        <div class="card_image"><img src="priyansh.jpg" class="fimg"></div>
				        <div class="card_content">
				          <h2 class="card-title1">Priyansh Kedia</h2>
						  <h5 class="dull">Co-Founder</h5>
						  <hr class="rule09">
				      <p class="card-text">A coding enthusiast from BITS Pilani, Priyansh is an engineering undergraduate and a co-founder. Priyansh is a techie with work experience in Android and backend development. Having freelanced for many firms, he has created a niche for himself. </p>
				        </div>
				      </div>
				    </li>
				   </ul>
			</div>

</div>










<style type="text/css">
	.main{
  max-width: 1280px;
  margin: 0 auto;
}
.main h1{
	margin-top: 70px;
	margin-bottom: 30px;
	text-align: center;
}
.card-title1{
	margin: 10px 20px !important;
}

.fimg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  height: 350px;
  object-position: 0 0;
}

.card{
  margin:  0 10px;
  padding: 0;

}
.rule09{
	width: 90%;
    margin: 10px auto;
    color: orange;
	height: 2px;
}
.cards_item {
	display: flex;
  padding: 1rem;
  width: 33.33%;
}
.dull{
	color: silver;
	margin: 0 20px 10px 20px;
}
.card-text{
margin: 0 10px 30px 20px !important;
}
</style>

	</div>

</body>
</html>