<!DOCTYPE html>
<html>
<head>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style1.css">
	<title></title>
</head>
<body>
<div class="container">
	<div class="row">

<div class="col-3" id="side-menu">
	<div class="block"><h3>Settings</h3></div>
		<div class="block"><a href="#div-1">DIV-1</a></div>
		<div class="block"><a href="#div-2">DIV-2</a></div>
		<div class="block"><a href="#div-3">DIV-3</a></div>
		<div class="block"><a href="#div-4">DIV-4</a></div>
		<div class="block"><a href="#div-5">DIV-5</a></div>
	<br><hr>

	<footer>
		<div>
			<a href="link-1">link-1</a>
			<a href="link-2">link-2</a>
			<a href="link-3">link-3</a>
			<a href="link-4">link-4</a>
			<a href="link-5">link-5</a>
			<a href="link-6">link-6</a>
		</div>
	</footer>
</div>
<div class="col-3" id="gap"></div>
<div class="new" id="main-menu">
		<div id="div-1">
		<h2>DIV-1</h2>
		<br><hr>
		<div>
			<h3>sub-heading-1</h3>
			<input type="text" name="sub-heading-1">
			<span class="btn-group second name1">
			<button id="butn" class="btn btn-outline-success cancel">cancel</button>
			<button id="butn" class="btn btn-outline-success save">save</button>
			</span>
			<button id="butn" class="btn btn-outline-success edit">edit</button>
		    <div>description about sub-heading-1	<a href="link-in-sub-heading-1">link-in-sub-heading-1</a></div>
		</div>

		<br><hr>
		<div>
			<h3>sub-heading-2</h3>
			<span class="btn-group second name1">
			<button id="butn" class="btn btn-outline-success cancel">cancel</button>
			<button id="butn" class="btn btn-outline-success save">save</button>
			</span>
			<button id="butn" class="btn btn-outline-success edit">edit</button>
			<div>description about sub-heading-2	<a href="link-in-sub-heading-2">link-in-sub-heading-2</a></div>
		</div>

		<br><hr>
		<div>
			<span class="btn-group second name1">
			<button id="butn" class="btn btn-outline-success cancel">cancel</button>
			<button id="butn" class="btn btn-outline-success save">save</button>
			</span>
			<button id="butn" class="btn btn-outline-success edit">edit</button>
			<div>description about sub-heading-3	<a href="link-in-sub-heading-3">link-in-sub-heading-3</a></div>
		</div>
	</div>
	<br>
	<div class="div" id="div-2">
		<h2>DIV-2</h2>
		<br><hr>
		<div>
			<h3>sub-heading-1</h3>
			<button id="butn" class="btn btn-outline-success"><a href="link-1">sub-heading-1</a></button>
			<div class="block">Description</div>	
		</div>
	</div>
	<br>
	<div class="div" id="div-3">

		<h2>DIV-3</h2>
		<br><hr>
		<div>
			<h3>sub-heading-1</h3>
			<input type="email" name="email">
			<span class="btn-group second name1">
			<button id="butn" class="btn btn-outline-success cancel">cancel</button>
			<button id="butn" class="btn btn-outline-success save">save</button>
			</span>
			<button id="butn" class="btn btn-outline-success edit">edit</button>
		</div>

		<br><hr>
			<div>
				<h3>sub-heading-1</h3>
				<div>
					<h4>text-1</h4>	
					<span class="btn-group">
					<button id="butn" class="btn btn-outline-success">daily</button>
					<button id="butn" class="btn btn-outline-success">weekly</button>
					<button id="butn" class="btn btn-outline-success">off</button>
					</span>
					<span>
						description
					</span>
				</div>
				<br>
				<div>
					<h4>text-1</h4>	
					<span>
						description
					</span>
					<span class="btn-group">
					<button id="butn" class="btn btn-outline-success">on</button>
					<button id="butn" class="btn btn-outline-success">off</button>
					</span>
					<span>
						description
					</span>
				</div>
			</div>

		<br><hr>

		<div>
			<h3>sub-heading-1</h3><span class="btn-group">
			<button id="butn" class="btn btn-outline-success">on</button>
			<button id="butn" class="btn btn-outline-success">off</button>
			<button id="butn" class="btn btn-outline-success"><a href="link-1">sub-heading-1</a></button>
			</span>
			<div>Description</div>	
		</div>
<hr><br>
		<div>
			<h3>sub-heading-1</h3>	
			<span class="btn-group">
			<button id="butn" class="btn btn-outline-success">on</button>
			<button id="butn" class="btn btn-outline-success">off</button>
			<button id="butn" class="btn btn-outline-success"><a href="link-1">sub-heading-1</a></button></span>
			<div>Description</div>
		</div>

		<br><hr>

		<div>
			<h3>text-1</h3>	
			<span class="btn-group">
			<button id="butn" class="btn btn-outline-success">on</button>
			<button id="butn" class="btn btn-outline-success">off</button>
			</span>
			<div>
				description
			</div>
		</div>

		<br><hr>

		<div>
			<h3>text-1</h3>	
			<span class="btn-group" role="group" aria-label="Basic example">
			<button id="butn" class="btn btn-outline-success">all</button>
			<button id="butn" class="btn btn-outline-success">network</button>
			<button id="butn" class="btn btn-outline-success">off</button>
			</span>
			<div>
				description
			</div>
		</div>

		<br><hr>

		<div>
			<div>text</div>
			<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
			<label for="vehicle1"> I have a bike</label><br>
			<input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
			<label for="vehicle2"> I have a car</label><br>
			<input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
			<label for="vehicle3"> I have a boat</label><br>
		</div>

		<div>
			<div>text</div>
			<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
			<label for="vehicle1"> I have a bike</label><br>
			<input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
			<label for="vehicle2"> I have a car</label><br>
			<input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
			<label for="vehicle3"> I have a boat</label><br>
		</div>

		<br><hr>

		<div>
			<h3>text-1</h3>	
			<span class="btn-group">
			<button id="butn" class="btn btn-outline-success">on</button>
			<button id="butn" class="btn btn-outline-success">off</button>
			</span>
			<div>
				description
			</div>
		</div>	
	</div>

	<div class="div" id="div-4">

		<h2>Div-4</h2>
		<br><hr>
		<h3>text-1</h3>	
		<button id="butn" class="btn btn-outline-success">customisation</button>
		<div>
			description
		</div>
		<br><hr>
		<h3>text-1</h3>	
		<button id="butn" class="btn btn-outline-success">customisation</button>
		<div>
			description
		</div>
		<br><hr>
		<h3>text-1</h3>	
		<div>
			description
		</div>
		<div>
			<span>email</span>
			<span><a href="link">disconnect</a></span>
		</div>
		<br><hr>
		<div>
			<h4>text-1</h4>	
			<span class="btn-group">
			<button id="butn" class="btn btn-outline-success">on</button>
			<button id="butn" class="btn btn-outline-success">off</button>
			</span>
			<div>
				description
			</div>
		</div>	
	</div>

	<div class="div" id="div-5">

		<h2>Div-5</h2>
		<br><hr>
		<div>
			<h3>text-1</h3>	
			<span class="btn-group second name1">
			<button id="butn" class="btn btn-outline-success cancel">cancel</button>
			<button id="butn" class="btn btn-outline-success save">save</button>
			</span>
			<button id="butn" class="btn btn-outline-success edit">edit</button>
			<div>
				description
			</div>
		</div>
<hr><br>
		<div>
			<h3>text-1</h3>	
			<span class="btn-group">
			<button id="butn" class="btn btn-outline-success">on</button>
			<button id="butn" class="btn btn-outline-success">off</button>
			</span>
			<div>
				description
		</div>
	</div>

</div>
</div>
</div>
</div>
<script type="text/javascript" src="app.js"></script>
</body>
</html>