<style>
    body{
        background-color: #d0d0d0;
    }
.outerr{
    background-color: white;
    width: 600px;
    margin: 10% auto;
    padding: 10px;
}
.innner{
    border: 1px solid #f9a80d;
    padding: 40px 20px 30px 20px;
    text-align: center;
}
.l{
    font-size: 50px;
    font-family: 'gilroy';
}
.log1{
    background-image: url("google.png");
    width: 488px;
    height: 76px;
    margin:auto;
}
.log2{
    background-image: url("github.png");
    width: 488px;
    height: 76px;
    margin:auto;
}
.innn{
    color: white;
    padding: 25px 0 0 80px;
    font-size: 24px;
    font-family: 'georgia';
}
.sign1,.sign1:active,.sign1:visited{
    color: #4287f6;
}

</style>
<div class="outerr">
    <div class="innner">
        <div class="l">Log In</div>
        <br>
        <div><a href="#" class="sign1" style="text-decoration: none; font-size: 20px;"><em>Sign Up Here</em></a> </div>
        <br>
        <div class="log1"><div class="innn">Log In with Google</div></div>
        <br>
        <div style="font-size: 20px; font-family: 'gilroy';"><em>-------------  or  -------------</em></div>
        <br>
        <div class="log2"><div class="innn">Log In with Github</div></div>

    </div>
</div>