.image {
    background-image: url("/static/images/cover_photo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 60%;
}

.jumbo {
    color: white;
    padding: 15% 5% 7.5% 10%;
}

body,
html {
    margin-right: 0;
}

.display {
    font-size: 4vw;
}

.lead {
    font-size: 1.5vw;
}
