/* FOR BASE */
* {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}

body {
    position: relative;
}

nav#navbar {
    background-color: #1D1B1C;
    overflow: hidden;
    position: fixed;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

a:hover {
    color: brown;
}

li a:hover {
    text-decoration: none;
    color: #51A6C5;
}

li.active a {
    background: none;
    background-color: #292D2A;
    color: #7E76D7;
}

div.card {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card .card-image img {
    object-fit: unset; 
    width: 300px; 
    height: 300px;
}


button.btn{
    background-color: #7E76D7;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

button#logInBtn a:hover {
    background: none;
    color: white;
}

button.btn:hover {
    background-color: #51A6C5;
    color: white;
}

#loginDialog {
    border: solid #51A6C5 1px;
    border-radius: 10px;
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 50%;
    height: 60%;
    margin: 5% auto;
    padding: 60px;
    overflow: auto; 
}

.icon-btn:hover{
    cursor: pointer;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    right: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

/* FOR LOGIN PAGE */

button#submitButton {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 30px;
    font-size: 22px;
    position: absolute;
    left: 50%;
    text-align: center;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

