<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#1c1c1c;">
  <a class="navbar-brand" href="#"><img src="kid-white.png" class="kid"></a>
  
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link">HOME</a>
    </li>    
    <li class="nav-item">
      <a class="nav-link">ABOUT US</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">SEARCH</a>
    </li>

    <li class="nav-item">
    	<button class="nav-link but1">&emsp; LOGIN &emsp;</button>
</li>
   <!-- <li class="nav-item dropdown" id="drop">
      <button class="nav-link dropdown-toggle" href="#" id="navbarDropdown" onclick="myfunction()">Dropdown</button>
      <div class="dropdown-menu menu">
      <a class="dropdown-item">HOME</a>
      <a class="dropdown-item">ABOUT US</a>
      <a class="dropdown-item">SEARCH</a>
      </div>
    </li> -->
  </ul>
</nav>

<div class="contain">
	<img src="cover.png">
	<div class="centered"><span class="cap"><span class="know">Know</span> in Deep</span>
		<div>We use modern approaches to let out users grip the<br> technical knowledge to its best</div>
	</div>
</div>
<!-- 
<div class="projects">
	<div class="card">
	  <img src="blog-pic.png" class="blog-pic" alt="Avatar">
	  <div class="cont">
	    <h4><b>Adding images to your site</b></h4>
	    <p>There are ways by which your image can be made clickable.On clicking at different positions on an image.......</p>
	  </div>
	</div>

	<div class="card">
	  <img src="blog-pic.png" class="blog-pic" alt="Avatar">
	  <div class="cont">
	    <h4><b>Adding images to your site</b></h4>
	    <p>There are ways by which your image can be made clickable.On clicking at different positions on an image.......</p>
	  </div>
	</div>

	<div class="card">
	  <img src="blog-pic.png" class="blog-pic" alt="Avatar">
	  <div class="cont">
	    <h4><b>Adding images to your site</b></h4>
	    <p>There are ways by which your image can be made clickable.On clicking at different positions on an image.......</p>
	  </div>
	</div>

</div>
 -->
<div class="projects">
	<div class="title"><img src="star.png" class="star"><span class="pro">OUR POPULAR PROJECTS</span></div>
	<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="blog-pic.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">There are ways by which your image can be made clickable. On clicking at different positions on an image....</p>
      <span class="bold">Author Name :</span><span>Priyansh Kedia</span><br>
      <span class="bold">Hours To Complete :</span><span>5 Hours</span><br>
      <span class="bold">Level :</span><span>Difficult</span><br>
      <span class="bold">Languages Used :</span>
      <div >
      	<img src="java.png" class="lang">
      	<img src="kotlin.png" class="lang">
      	<img src="c.png" class="lang">
      	<img src="php.png" class="lang">
      	<img src="python.png" class="lang">
      </div><!-- 
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      <hr>
      <button class="but1 but2">&emsp; GO TO BLOG &emsp;</button>
      <div class="dropdown left">
	<button class="dropbtn"><img class="image1" src="share.png"></button>
		<div class="dropdown-content">
		  <a href="#"><img src="twitter.png" class="image"><span class="name">&emsp; Twitter</span></a>
		  <a href="#"><img src="facebook.png" class="image"><span class="name">&emsp; Facebook</span></a>
		  <a href="#"><img src="linkedin.png" class="image"><span class="name">&emsp; Linkedin</span></a>
		  <a href="#"><img src="link.png" class="image"><span class="name">&emsp; Copy link</span></a>
		</div>
	</div>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="blog-pic.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">There are ways by which your image can be made clickable. On clicking at different positions on an image....</p>
      <span class="bold">Author Name :</span><span>Priyansh Kedia</span><br>
      <span class="bold">Hours To Complete :</span><span>5 Hours</span><br>
      <span class="bold">Level :</span><span>Difficult<span><br>
      <span class="bold">Languages Used :</span>
      <div >
      	<img src="java.png" class="lang">
      	<img src="kotlin.png" class="lang">
      	<img src="c.png" class="lang">
      	<img src="php.png" class="lang">
      	<img src="python.png" class="lang">
      </div><!-- 
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            <hr>
      <button class="but1 but2">&emsp; GO TO BLOG &emsp;</button>
      <div class="dropdown left">
	<button class="dropbtn"><img class="image1" src="share.png"></button>
		<div class="dropdown-content">
		  <a href="#"><img src="twitter.png" class="image"><span class="name">&emsp; Twitter</span></a>
		  <a href="#"><img src="facebook.png" class="image"><span class="name">&emsp; Facebook</span></a>
		  <a href="#"><img src="linkedin.png" class="image"><span class="name">&emsp; Linkedin</span></a>
		  <a href="#"><img src="link.png" class="image"><span class="name">&emsp; Copy link</span></a>
		</div>
	</div>
    </div>
  </div>
    <div class="card">
    <img class="card-img-top" src="blog-pic.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">There are ways by which your image can be made clickable. On clicking at different positions on an image....</p>
      <span class="bold">Author Name :</span><span>Priyansh Kedia</span><br>
      <span class="bold">Hours To Complete :</span><span>5 Hours</span><br>
      <span class="bold">Level :</span><span>Difficult<span><br>
      <span class="bold">Languages Used :</span>
      <div >
      	<img src="java.png" class="lang">
      	<img src="kotlin.png" class="lang">
      	<img src="c.png" class="lang">
      	<img src="php.png" class="lang">
      	<img src="python.png" class="lang">
      </div><!-- 
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            <hr>
      <button class="but1 but2">&emsp; GO TO BLOG &emsp;</button>
      <div class="dropdown left">
	<button class="dropbtn"><img class="image1" src="share.png"></button>
		<div class="dropdown-content">
		  <a href="#"><img src="twitter.png" class="image"><span class="name">&emsp; Twitter</span></a>
		  <a href="#"><img src="facebook.png" class="image"><span class="name">&emsp; Facebook</span></a>
		  <a href="#"><img src="linkedin.png" class="image"><span class="name">&emsp; Linkedin</span></a>
		  <a href="#"><img src="link.png" class="image"><span class="name">&emsp; Copy link</span></a>
		</div>
	</div>

    </div>
  </div>
</div>
</div>

<div class="projects">
<div class="title"><img src="grp.png" class="star"><span class="pro">OUR POPULAR PROJECTS</span></div>
<div class="card-group">
   <div class="card">
    <img class="card-img-top" src="blog-pic.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">There are ways by which your image can be made clickable. On clicking at different positions on an image....</p>
      <span class="bold">Author Name :</span><span>Priyansh Kedia</span><br>
      <span class="bold">Hours To Complete :</span><span>5 Hours</span><br>
      <span class="bold">Level :</span><span>Difficult<span><br>
      <span class="bold">Languages Used :</span>
      <div >
      	<img src="java.png" class="lang">
      	<img src="kotlin.png" class="lang">
      	<img src="c.png" class="lang">
      	<img src="php.png" class="lang">
      	<img src="python.png" class="lang">
      </div><!-- 
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            <hr>
      <button class="but1 but2">&emsp; GO TO BLOG &emsp;</button>
      <div class="dropdown left">
	<button class="dropbtn"><img class="image1" src="share.png"></button>
		<div class="dropdown-content">
		  <a href="#"><img src="twitter.png" class="image"><span class="name">&emsp; Twitter</span></a>
		  <a href="#"><img src="facebook.png" class="image"><span class="name">&emsp; Facebook</span></a>
		  <a href="#"><img src="linkedin.png" class="image"><span class="name">&emsp; Linkedin</span></a>
		  <a href="#"><img src="link.png" class="image"><span class="name">&emsp; Copy link</span></a>
		</div>
	</div>

    </div>
  </div>
    <div class="card">
    <img class="card-img-top" src="blog-pic.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">There are ways by which your image can be made clickable. On clicking at different positions on an image....</p>
      <span class="bold">Author Name :</span><span>Priyansh Kedia</span><br>
      <span class="bold">Hours To Complete :</span><span>5 Hours</span><br>
      <span class="bold">Level :</span><span>Difficult<span><br>
      <span class="bold">Languages Used :</span>
      <div >
      	<img src="java.png" class="lang">
      	<img src="kotlin.png" class="lang">
      	<img src="c.png" class="lang">
      	<img src="php.png" class="lang">
      	<img src="python.png" class="lang">
      </div><!-- 
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            <hr>
      <button class="but1 but2">&emsp; GO TO BLOG &emsp;</button>
      <div class="dropdown left">
	<button class="dropbtn"><img class="image1" src="share.png"></button>
		<div class="dropdown-content">
		  <a href="#"><img src="twitter.png" class="image"><span class="name">&emsp; Twitter</span></a>
		  <a href="#"><img src="facebook.png" class="image"><span class="name">&emsp; Facebook</span></a>
		  <a href="#"><img src="linkedin.png" class="image"><span class="name">&emsp; Linkedin</span></a>
		  <a href="#"><img src="link.png" class="image"><span class="name">&emsp; Copy link</span></a>
		</div>
	</div>

    </div>
  </div>
    <div class="card">
    <img class="card-img-top" src="blog-pic.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">There are ways by which your image can be made clickable. On clicking at different positions on an image....</p>
      <span class="bold">Author Name :</span><span>Priyansh Kedia</span><br>
      <span class="bold">Hours To Complete :</span><span>5 Hours</span><br>
      <span class="bold">Level :</span><span>Difficult<span><br>
      <span class="bold">Languages Used :</span>
      <div >
      	<img src="java.png" class="lang">
      	<img src="kotlin.png" class="lang">
      	<img src="c.png" class="lang">
      	<img src="php.png" class="lang">
      	<img src="python.png" class="lang">
      </div><!-- 
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            <hr>
      <button class="but1 but2">&emsp; GO TO BLOG &emsp;</button>
	<div class="dropdown left">
	<button class="dropbtn"><img class="image1" src="share.png"></button>
		<div class="dropdown-content">
		  <a href="#"><img src="twitter.png" class="image"><span class="name">&emsp; Twitter</span></a>
		  <a href="#"><img src="facebook.png" class="image"><span class="name">&emsp; Facebook</span></a>
		  <a href="#"><img src="linkedin.png" class="image"><span class="name">&emsp; Linkedin</span></a>
		  <a href="#"><img src="link.png" class="image"><span class="name">&emsp; Copy link</span></a>
		</div>
	</div>

    </div>
  </div>
</div>
</div>
<footer class="footer">
	<div class="stacks">
	<span class="stack" style="width: 30%;">
	<img  class="foot-logo stack" src="kid-black.png"><br>
	<br>
	<br>
	<span>Contact Us :knowindeep.tech@gmail.com<br>All Rigths reserved.Know In Deep 2020</span>
	<br>
		<span>
			<img src="google.png" class="lang1">
			<img src="linkd.png" class="lang1">
			<img src="github.png" class="lang1">
		</span>
	</span>
    <ul class="stack">
    	<li class="heads">COMPANY</li>
    	<li>About us</li>
    	<li>Privacy Policy</li>
    	<li>Contact us</li>
    </ul>
    <ul class="stack">
    	<li class="heads">LEARN</li>
    	<li>Algorithms</li>
    	<li>Data Structures</li>
    	<li>Languages</li>
    	<li>CS Subjects</li>
    	<li>Video Tutorials</li>
    </ul>
    <ul class="stack">
    	<li class="heads">PRACTICE</li>
    	<li>Courses</li>
    	<li>Company-wise</li>
    	<li>Topic-wise</li>
    	<li>How To Begin?</li>
    </ul>
    <ul class="stack">
    	<li class="heads">CONTRIBUTE</li>
    	<li>Write an Article</li>
    	<li>Experience</li>
    	<li>Internships</li>
    	<li>Videos</li>
    </ul>
  </footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>