<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.0.13/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/font-awesome.min.css">


<style>
    .btn {
        background-color: DodgerBlue; /* Blue background */
        border: none; /* Remove borders */
        color: white; /* White text */
        padding: 12px 16px; /* Some padding */
        font-size: 16px; /* Set a font size */
        cursor: pointer; /* Mouse pointer on hover */
        }    
        .menu{
            display: none;
    }

        /* Darker background on mouse-over */
        .btn:hover {
                background-color: RoyalBlue;
        }
</style>


<div id="menu_div">
    <button class="btn" id="plus_btn" title="Add menu"><i class="fa fa-plus"></i></button>
    <button class="btn menu" id="close_btn" title="Close menu"><i class="fa fa-close"></i></button>
    <button class="btn menu" title="Add a image"><i class="fa fa-camera"></i></button>
    <button class="btn menu" title="Sarch Unsplash"><i class="fa fa-search"></i></button>
    <button class="btn menu" title="Search Pexels"><i class="fa fa-search"></i></button>
</div>
<script>
    var btns = document.getElementsByClassName('btn')
    // for(i=0; i< btns.length; i++){
    //     document.getElementsByClassName('btn')[i].addEventListener('onclick', function(){

    //     })
    // }
    document.getElementById('plus_btn').addEventListener('click', function(){
        // alert("clicked")
        this.style.display = 'none'
        var menu = document.getElementsByClassName('menu')
        for(var i=0; i< menu.length; i++){
            menu[i].style.display = 'inline'
        }
        
    })

    document.getElementById('close_btn').addEventListener('click', function(){
        // alert("clicked")
        document.getElementById('plus_btn').style.display = 'inline'
        var menu = document.getElementsByClassName('menu')
        for(var i=0; i< menu.length; i++){
            menu[i].style.display = 'none'
        }
        
    })

</script>