<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            function format(cmd){
                document.execCommand(cmd)
            };
            
            document.execCommand('defaultParagraphSeparator', false, 'p');
            $( document ).ready(function(){
                $('#inpfile').on('change', function(){
                        var targetDiv=document.getElementsByClassName("editor")[0];
                        var file = $(this).prop('files')[0];
                        var img=document.createElement("img");
                        img.className="image"
                        var reader  = new FileReader();
                        var fig = document.createElement('figure')
                        var fig_caption = document.createElement('p')
                        fig_caption.className = "fig-caption"
                        // fig_caption.setAttribute("contenteditable", "true")
                        fig_caption.innerHTML =  "Write your caption here!"
                        // var span = document.createElement('span')
                        // span.innerHTML = "h"
                        // fig_caption.appendChild(span)
                        fig.className = "fig"
                        fig.setAttribute('contenteditable','true')
                        // fig_caption.setAttribute("onclick",'this.innerHTML=""')
                        fig.appendChild(img);
                        fig.appendChild(fig_caption)
                        targetDiv.append(fig);
                        var p =document.createElement('p')
                        // p.setAttribute("onclick",'this.style.display = "none"')
                        p.innerHTML = "continue writing..."
                        targetDiv.append(p)
            //             fig_captio.addEventListener('keydown', event => {
            // if (event.key === 'Enter') {
            // document.execCommand('insertLineBreak')
            // event.preventDefault()
            // }
            // })
                        reader.addEventListener("load", function () {
                            img.src=reader.result;
                           
                            // var image = document.createElement('img')
                            
                            // fig_caption.appendChild(a)
                            // fig_caption.innerHTML += "on Unsplash"
                        }); 
                        if (file)
                            reader.readAsDataURL(file);
                        document.getElementById('inpfile').value = "";
                });
            });

            function addImage(e, url, name){
                // alert(name)
                // console.log("click")
                // (url)alert
                var fig = document.createElement('figure')
                var image = document.createElement('img')
                var fig_caption = document.createElement('figcaption')
                fig_caption.innerHTML = "Photo by " 
                var a = document.createElement('a')
                a.setAttribute("contenteditable", "false")
                a.setAttribute("target", "_blank")
                a.href = url    
                a.innerHTML = name
                fig_caption.appendChild(a)
                fig_caption.innerHTML += " on " 

                var unsplash_a = document.createElement('a')
                unsplash_a.setAttribute("contenteditable", "false")
                unsplash_a.setAttribute("target", "_blank")
                unsplash_a.href = "https://unsplash.com/"
                unsplash_a.innerHTML = "Unsplash"
                fig_caption.appendChild(unsplash_a)


 
                image.src = e.src
                image.className = "image"
                fig.appendChild(image)
                fig.appendChild(fig_caption)
                
                document.getElementsByClassName('editor')[0].appendChild(fig)

                document.getElementsByClassName('grid')[0].remove()
                document.getElementsByClassName('buttons')[0].remove()
                // document.execCommand('insertImage', false, e.src)
                
                
            }
        </script>
        <style>
            .fig-caption{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
            }
            body{
                font-size: x-large;
            }
            .fig{
                font-size: medium;
                color: grey;
            }
            .container :hover{
                color: aliceblue;
            }
            .container{
                position: relative;
                text-align: center;
                
            }
            .author{
                color:transparent;
                position: absolute;
                bottom: 8px;
                left: 16px;
            }
            .editor{
                border-style: solid;
                height: 500px;
                width: 1000px;
                overflow-y: scroll;
            }
            .image{
                display: block;
                height: 300px;
                width: 300px;   
                
            }
            .unsplash-image{
                cursor: pointer;
                height: 200px;
                width: 200px;
            }
            .grid{
                display:inline-grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 10px;
                grid-auto-rows: minmax(100px, auto);
            }
        </style>
    </head>
    <body>
        <script>
            var page_number = 1
            $( document ).ready(function(){
               $('#inputfile').on('change', function(){
                  var targetDiv=document.getElementsByClassName("editor")[0];
                  var file = $(this).prop('files')[0];
                  var img=document.createElement("img");
                  img.className ="image"
                  var reader  = new FileReader();
                  targetDiv.append(img);
                  reader.addEventListener("load", function () {
                     img.src=reader.result;
                  });
                  if (file)
                     reader.readAsDataURL(file);
                 });
                });
                var url = ""
                var a_name = ""
                 function implementUnsplashSearch(query, page_number = 1){
                     if(document.getElementsByClassName("grid")[0] != null){
                        document.getElementsByClassName("grid")[0].remove();
                        document.getElementsByClassName('buttons')[0].remove()

                    }
                    $.getJSON('https://api.unsplash.com/search/photos?client_id=Kv-1wOUDvrJ_bXQDpcsMivN-gcEpVRHOM5BwqRUEiMc&query=' + query + '&page=' + page_number, function(data){
                        var div_btn = document.createElement('div')
                        div_btn.className = "buttons"

                        if(page_number > 1){
                            var prev = document.createElement('button')
                            prev.setAttribute("onclick", 'page_number-=1;implementUnsplashSearch(document.getElementById("inptext").value, page_number)')
                            prev.innerHTML = "PREV"
                            prev.style.float = "left"
                            div_btn.appendChild(prev)
                        }
                        var next = document.createElement('button')
                        next.setAttribute("onclick", 'page_number+=1;implementUnsplashSearch(document.getElementById("inptext").value, page_number)')
                        next.innerHTML = "NEXT"
                        next.style.float = "right"

                        div_btn.appendChild(next)
                        document.getElementsByClassName("editor")[0].appendChild(div_btn)

                        var imageList = data.results;
                        var div = document.createElement('div')
                        div.className = "grid"
                        document.getElementsByClassName("editor")[0].appendChild(div)
                        
                        
                        // document.getElementsByClassName('editor')[0].append('<div class="grid"></div>')
                        $.each(imageList,function(i, val){
                            var imageUrl = val.urls.regular;
                            var img = document.createElement('img')
                            var container = document.createElement('div')
                            container.className = "container"
                            document.getElementsByClassName('grid')[0].appendChild(container)
                            a_name = val.user.name
                            url =  val.user.links.html
                            console.log("name")
                            // alert(val.user.links.html)
                            // i.onclick =  'addImage(this, val.user.name, val.user.name)'
                            
                            img.setAttribute("onclick", 'addImage(this, url, a_name )')
                            
                            // i.addEventListener ("click", 'addImage(this, val.user.links.html, val.user.name)');
                            // i.role = "button"
                            img.className = "unsplash-image"
                            img.style.height = '100px';
                            img.style.height = '100px';
                            img.style.display = 'inline';
                            img.src = imageUrl;
                            var author = document.createElement('p')
                            author.innerHTML = val.user.name;
                            author.className = 'author'
                            // document.getElementsByClassName("container")[i].appendChild(img)
                            
                            var unsplash_div = document.createElement('div')
                            unsplash_div.className = "unsplashImage"
                            unsplash_div.appendChild(img)
                            document.getElementsByClassName("container")[i].appendChild(unsplash_div)
                            document.getElementsByClassName('container')[i].appendChild(author)
                            
                            // document.getElementsByClassName('grid')[0].append('<img src=' + imageUrl+ ">")
                        });
                        });
                    };
         </script>
        <button id="bold" onclick="format('bold')">B</button>
        <button id="underline" onclick="format('underline')">U</button>
        <button id="italic" onclick="format('italic')">I</button>
        <button id="ordered-list" onclick="format('insertOrderedList')">Ordered List</button>
        <input type='file' id='inpfile' accept="image/jpeg, image/png, image/gif">
        <button id="search" onclick="implementUnsplashSearch(document.getElementById('inptext').value)">Search</button>
        <input type="text" id="inptext">
        <div class="editor" contenteditable="true" spellcheck="false" >
        </div>
    </body>
</html>