<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.0.13/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/font-awesome.min.css">

        <script>
            window.onload = function(){
                if('{{chapter}}'){
                    var dom = document.getElementsByClassName('editor')[0];
                    dom.setAttribute('contenteditable', 'false')
                    dom.innerHTML = '{{chapter.content | safe}}'
                    alert('{{chapter.content | safe }}')
                    dom.setAttribute('contenteditable', 'true')
                
                    // alert('{{chapter}}')
                    // dom.appendChild(div)
                    // var htmlObject = dom.firstChild;
                    // alert(htmlObject)
                    // dom.appendChild(htmlObject)
                    // dom.insertAdjacentHTML('afterbegin', '{{chapter.content}}')
                    // var parser = new DOMParser();
                    // var doc = parser.parseFromString(dom.innerHTML, 'text/html');
                    // dom = doc
                    // return doc.body
                }
            }
            // var pk = sessionStorage.getItem('pk')
            // // alert(pk)
            // var project = {{project.pk}}
            // var author = {{project.author.pk}}
            // function newChapter(){
            //     $.ajax({
            //         method:'POST',
            //         url:'{% url "api:create_chapter" %}',
            //         data :{
            //             'pk': sessionStorage.getItem('pk'),
            //             'csrfmiddlewaretoken': $('input[name= csrfmiddlewaretoken]').val(),
            //             'content':document.getElementsByClassName('editor')[0].innerHTML,
            //             'link_to' : project,
            //             'author': author,            
            //         },
            //         success:function(data){
            //             pk = data.pk
            //         },
            //         error: function(error){
            //             alert('ERROR!')
            //         },
            //     })

            // }
            var timeoutId;
            document.addEventListener('keyup',
                function addChapter(){
                var project = {{project.pk}}
                if (timeoutId) 
                {  
                    clearTimeout(timeoutId);}
               timeoutId = setTimeout(function(){

                content = document.getElementsByClassName('editor')[0].innerHTML
                        var author = {{project.author.pk}}
                        $.ajax({
                            method: 'POST',
                            url: "{% url 'api:create_chapter' %}",
                            async:false,
                            data :{
                                'chapter_pk': chapter_pk,
                                'link_to': '{{project.pk}}',
                                'content': content,
                                'csrfmiddlewaretoken': $('input[name= csrfmiddlewaretoken]').val(),
                                'author': author,
                                // 'heading': 'LoremIpsum'
                            },
                            success: function(data){
                                alert('SUCCESS!')
                            }, error: function(error){
                                alert('ERROR!')
                            }

                        })
                        // if('{{chapter.pk}}'){
                        // document.location.href = '/teach/chapter/' + '{{project.pk}}/' + '{{chapter.pk}}'
                        // }
                        // else{
                        //     document.location.href = '/teach/chapter/' + '{{project.pk}}'
                        // }
                    },5000)
           }
            )
            
            function createProject(){
   
  
   //document.location.href = "/" + "teach";
   $.ajax({
       method: 'POST',
       url: "{% url 'api:create_project' %}",
       data :{
           'pk': sessionStorage.getItem('pk'),
           'csrfmiddlewaretoken': $('input[name= csrfmiddlewaretoken]').val()
       },
       success: function(data){
           pk =data.pk
       }, error: function(error){
           alert("ERROR!")
       }
   }
   )
   document.location.href = "{% url 'teach:list_of_projects' %}"
}

            
            function format(cmd){
                document.execCommand(cmd)
            };

            function getCaretCoordinates() {
  let x = 0,
    y = 0;
  const isSupported = typeof window.getSelection !== "undefined";
  if (isSupported) {
    const selection = window.getSelection();
    if (selection.rangeCount !== 0) {
      const range = selection.getRangeAt(0).cloneRange();
      range.collapse(true);
      const rect = range.getClientRects()[0];
      if (rect) {
        x = rect.left;
        y = rect.top;
      }
    }
  }
//   return x
   return [ x, y ];
}
var x, y
function inputvar(e){
    // alert(e.value)
    var inp = document.createElement('span');
    // inp.setAttribute('contenteditable', 'false')
    // inp.className = 'input'
    // inp.id = "unsplash_input"
    // inp.type = "text"
    if(e.id == "pe"){
        // alert(e.classList)
        inp.className = 'input_pexels'
        inp.id = "inptext_pexels"
    fx().appendChild(inp)
    }
    else{
        // alert(e.classList)
        inp.className = 'input'
        inp.id = "inptext"
    fx().appendChild(inp)
    }
   
}
// document.addEventListener("click", function(e){
//     alert('4')
//     if( document.getElementById('menu_div') != null){
//             // alert(0)
//             document.getElementById('menu_div').remove();
//             // for(var i=0; i< document.getElementsByClassName('menu').length; i++){
//             //     document.getElementsByClassName('menu')[i].remove();
//             // }

//         }
//     // }
//     // alert(e.target.className)
//     // alert(e.keyCode)
//     // if(e.keyCode == '13'){
//         var menu_div = document.createElement("span")
//         menu_div.setAttribute("contenteditable",'false')
//         menu_div.id = "menu_div"
//         var plus = document.createElement('button')
//         plus.className = "btn"
//         plus.id = "plus_btn"
//         var plus_i = document.createElement("i")
//         plus_i.classList = "fa fa-plus"
//         plus.appendChild(plus_i)
//         var close = document.createElement('button')
//         close.classList = "btn menu"
//         close.id = "close_btn"
//         var close_i = document.createElement("i")
//         close_i.classList = "fa fa-close"
//         close.appendChild(close_i)
//         var image = document.createElement('button')
//         image.classList = "btn menu"
//         var image_i = document.createElement("i")
//         image_i.classList = "fa fa-camera"
//         image.appendChild(image_i)
//         var un = document.createElement('button')
//         un.classList = "btn menu"
       
//         var un_i = document.createElement("i")
//         un_i.classList = "fa fa-search"
//         un.appendChild(un_i)
//         var pe = document.createElement('button')
//         pe.classList = "btn menu"
//         var pe_i = document.createElement("i")
//         pe_i.classList = "fa fa-search"
//         pe.appendChild(pe_i)
//         menu_div.appendChild(plus)
//         menu_div.appendChild(close)
//         menu_div.appendChild(image)
//         menu_div.appendChild(un)
//         menu_div.appendChild(pe)
//         //alert('<br>' + menu_div.innerHTML)
        
//     //    / alert(fx().innerHTML)
//         if(fx().innerHTML == "<br>" || fx().innerHTML == "&nbsp;" || fx().innerHTML == '<br>' +  menu_div.innerHTML){
//         if( document.getElementById('plus_btn') != null){
//             // alert(8)
//             document.getElementById('plus_btn').remove();
//         }
//         fx().innerHTML = ""
//     //    alert(7)
//         fx().appendChild(menu_div)
//         fx().innerHTML += "&nbsp;"
//         var el = document.getElementById("editable")
//         var range = document.createRange()
//         var sel = window.getSelection()
//         range.setStart(fx(), 2)
//         range.collapse(true)
        
//         sel.removeAllRanges()
//         sel.addRange(range)
        
//         document.getElementById('plus_btn').addEventListener('click', function(){
//                 // alert("clicked")
//                 this.style.display = 'none'
//                 var menu = document.getElementsByClassName('menu')
//                 for(var i=0; i< menu.length; i++){
//                     menu[i].style.display = 'inline'
//                 }
                
//             })
        
//             document.getElementById('close_btn').addEventListener('click', function(){
//                 // alert("clicked")
//                 document.getElementById('plus_btn').style.display = 'inline'
//                 var menu = document.getElementsByClassName('menu')
//                 for(var i=0; i< menu.length; i++){
//                     menu[i].style.display = 'none'
//                 }
                
//             })
//     }
    
// })

document.addEventListener("keyup", function(e){
    // if(document.getElementById('menu_div') != null){
    //     // document.getElementById('menu_div').remove();
    //     return;
    // }
    // if(e.keyCode != "13"){
        if( document.getElementById('menu_div') != null){
            // alert(0)
            document.getElementById('menu_div').remove();
            // for(var i=0; i< document.getElementsByClassName('menu').length; i++){
            //     document.getElementsByClassName('menu')[i].remove();
            // }

        }

        
        // alert(fx())
        
    // }
    // alert(e.target.className)
    // alert(e.keyCode)
    // if(e.keyCode == '13'){
        var menu_div = document.createElement("span")
        menu_div.setAttribute("contenteditable",'false')
        menu_div.id = "menu_div"
        var plus = document.createElement('button')
        plus.className = "btn"
        plus.id = "plus_btn"
        var plus_i = document.createElement("i")
        plus_i.classList = "fa fa-plus"
        plus.appendChild(plus_i)
        var close = document.createElement('button')
        close.classList = "btn menu"
        close.id = "close_btn"
        var close_i = document.createElement("i")
        close_i.classList = "fa fa-close"
        close.appendChild(close_i)
        var image = document.createElement('button')
        image.classList = "btn menu"
        var image_i = document.createElement("i")
        image_i.classList = "fa fa-camera"
        var input = document.createElement('input')
        input.setAttribute('type', 'file')
        input.setAttribute('id','inpfile_input')
        input.setAttribute('onchange', 'addLocalImage(this)')
        image_i.appendChild(input)
        // <input type='file' id='inpfile' accept="image/jpeg, image/png, image/gif">
        // image_i.appendChild()
        image.appendChild(image_i)
        var un = document.createElement('button')
        un.classList = "btn menu "
        un.id = "un"
        un.setAttribute("onclick","inputvar(this)")
        var un_i = document.createElement("i")
        un_i.classList = "fa fa-search"
        un.appendChild(un_i)
        var pe = document.createElement('button')
        pe.classList = "btn menu "
        pe.id = "pe"
        pe.setAttribute("onclick","inputvar(this)")
        var pe_i = document.createElement("i")
        pe_i.classList = "fa fa-search"
        pe.appendChild(pe_i)
        menu_div.appendChild(plus)
        menu_div.appendChild(close)
        menu_div.appendChild(image)
        menu_div.appendChild(un)
        menu_div.appendChild(pe)
        //alert('<br>' + menu_div.innerHTML)
        
    //    / alert(fx().innerHTML)
        if(fx().innerHTML == "<br>" || fx().innerHTML == "&nbsp;" || fx().innerHTML == '<br>' +  menu_div.innerHTML){
        if( document.getElementById('plus_btn') != null){
            // alert(8)
            document.getElementById('plus_btn').remove();
        }
        fx().innerHTML = ""
    //    alert(7)
    
        fx().appendChild(menu_div)
        fx().innerHTML += "&nbsp;"
        var el = document.getElementById("editable")
        var range = document.createRange()
        var sel = window.getSelection()
        range.setStart(fx(), 2)
        range.collapse(true)
        
        sel.removeAllRanges()
        sel.addRange(range)
        
        document.getElementById('plus_btn').addEventListener('click', function(){
                // alert("clicked")
                this.style.display = 'none'
                var menu = document.getElementsByClassName('menu')
                for(var i=0; i< menu.length; i++){
                    menu[i].style.display = 'inline'
                }
                
            })
        
            document.getElementById('close_btn').addEventListener('click', function(){
                // alert("clicked")
                document.getElementById('plus_btn').style.display = 'inline'
                var menu = document.getElementsByClassName('menu')
                for(var i=0; i< menu.length; i++){
                    menu[i].style.display = 'none'
                }
                
            })
    }
    // <div id="menu_div" style="display: none;">
    //         <button class="btn" id="plus_btn" title="Add menu"><i class="fa fa-plus"></i></button>
    //         <button class="btn menu" id="close_btn" title="Close menu"><i class="fa fa-close"></i></button>
    //         <button class="btn menu" title="Add a image"><i class="fa fa-camera"></i></button>
    //         <button class="btn menu" title="Sarch Unsplash"><i class="fa fa-search"></i></button>
    //         <button class="btn menu" title="Search Pexels"><i class="fa fa-search"></i></button>
    //     </div>
        // alert(fx().innerHTML)
    }
// }
)
var span_text
            document.addEventListener("keypress", function(e){

                // x = getCaretCoordinates()[0]
                // y = getCaretCoordinates()[1]
                // alert(fx().className)
                // alert(getCaretCoordinates()[1])
                if(e.keyCode == '13'){
                //     if(fx().className == "input" && document.getElementsByClassName('input') != null){
                //     alert('i')
                //     implementUnsplashSearch(query = fx().innerHTML)
                //     return; 
                    
                // }
                

                if(fx().className == "input" && document.getElementsByClassName('input') != null){
            // alert('i')
            // e.preventDefault();
            span_text = fx().innerHTML
            implementUnsplashSearch(query = span_text)
            // implementPexelSearch(query=fx().innerHTML)
            //
            document.getElementsByClassName('input')[0].remove();
            return; 
        }
         if(fx().className == "input_pexels" && document.getElementsByClassName('input_pexels') != null){
            // alert('i')
            // e.preventDefault();
            // implementUnsplashSearch(query = fx().innerHTML)
            span_text = fx().innerHTML
            implementPexelSearch(query=span_text)
            //
            document.getElementsByClassName('input_pexels')[0].remove();
            return; 
        }

                if(fx().className == 'fig-caption' && document.getElementsByClassName('fig-caption') != null && document.getElementsByClassName('fig-caption').length >= document.getElementsByClassName('fig').length){
                    // alert("k")
                    // e.preventDefault()
                    
                    var p =document.createElement('p')
                    p.innerHTML = "&nbsp;"
                    // p.style.display = "none"
                    fx().parentNode.parentNode.append(p)
                    var el = document.getElementById("editable")
                    var range = document.createRange()
                    var sel = window.getSelection()
                    // alert(fx().parentNode.nextSibling.innerHTML)
                    e.preventDefault();
                    range.setStart(fx().parentNode.nextSibling, 0)
                    range.collapse(true)
                    
                    sel.removeAllRanges()
                    sel.addRange(range)
                    // alert(fx().innerHTML)
                    //
                    
                }
            }
            });

function fx(){

  var target=null;
  if(window.getSelection)
  {
    target=window.getSelection().getRangeAt(0).commonAncestorContainer;
    return((target.nodeType===1)?target:target.parentNode);
  }
//   else if(document.selection)
//   {
//     var target=document.selection.createRange().parentElement();
//   }
  return target;
}
           
            document.execCommand('defaultParagraphSeparator', false, 'p');

            function setImgurHeader(xhr) {  
                        // xhr.setRequestHeader('Cache-Control', null) 
                        // xhr.setRequestHeader("Origin, X-Requested-With, Content-Type, Accept, Authorization, Token");
                        // xhr.setRequestHeader('Access-Control-Allow-Origin', '*');
                        // xhr.setRequestHeader('Access-Control-Allow-Methods', 'GET, POST, PUT, DELETE, PATCH');
                        // xhr.setRequestHeader('Origin, X-Requested-With, Content-Type, Accept, Authorization, Authentication');
                        // xhr.setRequestAhorization
                        xhr.setRequestHeader('Authorization', 'Client-ID {{IMGUR_CLIENT_ID_DEBUG}}') 
                        xhr.setRequestHeader('Authorization','Bearer {{IMGUR_BEARER_DEBUG}}');
                        // xhr.setRequestHeader('Authorization')
                        // xhr.setRequestHeader('Authorization', 'Bearer 7cd876bf6ab3405bad138d3a1886a3048fe9a0f0')
                        }

            function addLocalImage(e){
                // alert(0);
                var targetDiv=document.getElementsByClassName("editor")[0];
                        var file = $(e).prop('files')[0];
                        var img=document.createElement("img");
                        img.className="image"
                        var reader  = new FileReader();
                        var fig = document.createElement('figure')
                        var fig_caption = document.createElement('figcaption')
                        fig_caption.className = "fig-caption"
                        fig_caption.innerHTML =  "Write your caption here!"
                        fig.className = "fig"
                        fig.setAttribute('contenteditable','true')
                        fig.appendChild(img);
                        fig.appendChild(fig_caption)
                        if(fx().className == 'editor' ||  document.body === fx()){
                            fx().insertBefore(fig, fx().childNodes[1]);
                        }
                        else{
                            console.log('1')
                            fx().parentNode.insertBefore(fig, fx().nextSibling);
                        }

                        reader.addEventListener("load", function () {
                            img.src=reader.result;
                           
                        }); 
                        if (file){
                            reader.readAsDataURL(file);
                        // document.getElementById('inpfile').value = "";
                        
                        

                    }
                    alert("AJAX")
                    var formData = new FormData();
                    formData.append('image',file);
                    // formData.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val() )

                    $.ajax({

                            method: 'POST',
                            url: 'https://api.imgur.com/3/image',
                            data: formData,
                            contentType: false,
                            processData: false,
                            success: function(data){
                                alert('success!')
                                img.src = data.data.link
                            },
                            error: function(error){
                                alert(error)
                            },
                            beforeSend: setImgurHeader,

                            

                        })

                }
            $( document ).ready(function(){
                $('#inpfile').on('change', function(){
                        var targetDiv=document.getElementsByClassName("editor")[0];
                        var file = $(this).prop('files')[0];
                        var img=document.createElement("img");
                        img.className="image"
                        var reader  = new FileReader();
                        var fig = document.createElement('figure')
                        var fig_caption = document.createElement('figcaption')
                        fig_caption.className = "fig-caption"
                        // fig_caption.setAttribute("contenteditable", "true")
                        fig_caption.innerHTML =  "Write your caption here!"
                        // var span = document.createElement('span')
                        // span.innerHTML = "h"
                        // fig_caption.appendChild(span)
                        fig.className = "fig"
                        fig.setAttribute('contenteditable','true')
                        
                        // fig_caption.setAttribute("onclick",'this.innerHTML=""')
                        fig.appendChild(img);
                        fig.appendChild(fig_caption)
                        if(fx().className == 'editor' ||  document.body === fx()){
                            // alert(9)
                            // console.log('2')
                            fx().insertBefore(fig, fx().childNodes[1]);
                            // targetDiv.appendChild(fig)
                            // fx().insertBefore(fig, fx().nextSibling);
                        }
                        else{
                            console.log('1')
                            fx().parentNode.insertBefore(fig, fx().nextSibling);
                        }

                        
                        // targetDiv.append(fig);
                        // alert(fx().className)
                        // $(fig).insertAfter(fx());
                        // targetDiv.insertBefore(fig, fig.nextSibling);
                        
                        // var p =document.createElement('p')
                        // // p.setAttribute("onclick",'this.style.display = "none"')
                        // p.innerHTML = "&nbsp;"
                        // targetDiv.append(p)
            //             fig_captio.addEventListener('keydown', event => {
            // if (event.key === 'Enter') {
            // document.execCommand('insertLineBreak')
            // event.preventDefault()
            // }
            // })
                        reader.addEventListener("load", function () {
                            img.src=reader.result;
                           
                            // var image = document.createElement('img')
                            
                            // fig_caption.appendChild(a)
                            // fig_caption.innerHTML += "on Unsplash"
                        }); 
                        if (file)
                            reader.readAsDataURL(file);
                        document.getElementById('inpfile').value = "";
                });
            });
           
            function addImage(e, url, name){
                // alert(name)
                // console.log("click")
                // (url)alert
                var fig = document.createElement('figure')
                var image = document.createElement('img')
                var fig_caption = document.createElement('figcaption')
                fig_caption.className = "fig-caption"
                fig.className = "fig"
                fig_caption.innerHTML = "Photo by " 
                var a = document.createElement('a')
                a.setAttribute("contenteditable", "false")
                a.setAttribute("target", "_blank")
                a.href = url    
                a.innerHTML = name
                fig_caption.appendChild(a)
                fig_caption.innerHTML += " on " 

                var unsplash_a = document.createElement('a')
                unsplash_a.setAttribute("contenteditable", "false")
                unsplash_a.setAttribute("target", "_blank")
                // alert(e.target.className)
                if(url.indexOf('pexels.com') !=-1){
                    // alert('3')
                    unsplash_a.href = "https://www.pexels.com/"
                    unsplash_a.innerHTML = "Pexels"
                }
                else{
                    // alert('4')
                    unsplash_a.href = "https://unsplash.com/"
                    unsplash_a.innerHTML = "Unsplash"
                }
                
                fig_caption.appendChild(unsplash_a)


 
                image.src = e.src
                image.className = "image"
                fig.appendChild(image)
                fig.appendChild(fig_caption)
                if(fx().className == 'editor' ||  document.body === fx()){
                            // alert(fx().className)
                            console.log('2')
                            fx().insertBefore(fig, fx().childNodes[0]);
                            // targetDiv.appendChild(fig)
                            // fx().insertBefore(fig, fx().nextSibling);
                        }
                        else{
                            // alert(fx().className)
                            console.log('1')
                            fx().parentNode.insertBefore(fig, fx().nextSibling);
                        }
                
                document.getElementsByClassName('editor')[0].appendChild(fig)

                document.getElementsByClassName('grid')[0].remove()
                document.getElementsByClassName('buttons')[0].remove()
                // document.execCommand('insertImage', false, e.src)
                
                
            }
        </script>
        <style>
            .input{
                display: inline-block;
                width: 100px;
                height: 30px;
                border: 1px solid orange;
            }
            .input_pexels{
                display: inline-block;
                width: 100px;
                height: 30px;
                border: 1px solid orange;
            }
            .fig-caption{
                /* white-space: nowrap;
                overflow: hidden; */
                /* text-overflow: "ellipsis"; */
                /* max-width: 200px; */
                /* width: 30%; */
                /* display: table-r */
                width: 300px;
             }
            body{
                font-size: x-large;
            }
            .fig{
                font-size: medium;
                color: grey;
                /* display: table; */
            }
            .container :hover{
                color: aliceblue;
            }
            .container{
                position: relative;
                text-align: center;
                
            }
            .author{
                color:transparent;
                position: absolute;
                bottom: 8px;
                left: 16px;
            }
            .editor{
                border-style: solid;
                height: 500px;
                width: 1000px;
                overflow-y: scroll;
            }
            .image{
                display: block;
                height: 300px;
                width: 300px;   
                
            }
            .unsplash-image{
                cursor: pointer;
                height: 200px;
                width: 200px;
            }
            .pexels-image{
                cursor: pointer;
                height: 200px;
                width: 200px;
            }
            .grid{
                display:inline-grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 10px;
                grid-auto-rows: minmax(100px, auto);
            }
            .btn {
        background-color: DodgerBlue; /* Blue background */
        border: none; /* Remove borders */
        color: white; /* White text */
        padding: 12px 16px; /* Some padding */
        font-size: 16px; /* Set a font size */
        cursor: pointer; /* Mouse pointer on hover */
        }    
        .menu{
            display: none;
    }

        /* Darker background on mouse-over */
        .btn:hover {
                background-color: RoyalBlue;
        }
        p{
            counter-increment: line;
        }
        p::before{
            content: counter(line);
        }
        .editor{
            counter-increment: line;
        }
        .editor::before{
            content: counter(line);
        }
        /* #inpfile {
  display: none;
} */
        </style>
    </head>
    <body>
        {% csrf_token %}
        <script>
        //    $('editor').on('change',function(){
        //        alert('8')
        //     $("p").attr("id", "contents"); 
        //     });
            var page_number = 1
            // $( document ).ready(function(){
            //    $('#inputfile').on('change', function(){
            //       var targetDiv=document.getElementsByClassName("editor")[0];
            //       var file = $(this).prop('files')[0];
            //       var img=document.createElement("img");
            //       img.className ="image"
            //       var reader  = new FileReader();
            //       targetDiv.append(img);
            //       reader.addEventListener("load", function () {
            //          img.src=reader.result;
            //       });
            //       if (file)
            //          reader.readAsDataURL(file);
            //      });
            //     });
                var url = []
                var a_name = []
                 function implementUnsplashSearch(query, page_number = 1){
                     if(document.getElementsByClassName("grid")[0] != null){
                        document.getElementsByClassName("grid")[0].remove();
                        document.getElementsByClassName('buttons')[0].remove()

                    }
                    console.log('hi')
                    
                    $.getJSON('https://api.unsplash.com/search/photos?client_id={{UNSPLASH_API_KEY_DEBUG}}&query=' + query + '&page=' + page_number, function(data){
                        var div_btn = document.createElement('div')
                        div_btn.className = "buttons"

                        if(page_number > 1){
                            var prev = document.createElement('button')
                            prev.setAttribute("onclick", 'page_number-=1;implementUnsplashSearch(span_text, page_number)')
                            prev.innerHTML = "PREV"
                            prev.style.float = "left"
                            div_btn.appendChild(prev)
                        }
                        var next = document.createElement('button')
                        next.setAttribute("onclick", 'page_number+=1;implementUnsplashSearch(span_text, page_number)')
                        next.innerHTML = "NEXT"
                        next.style.float = "right"

                        div_btn.appendChild(next)
                        document.getElementsByClassName("editor")[0].appendChild(div_btn)

                        var imageList = data.results;
                        var div = document.createElement('div')
                        div.className = "grid"
                        if(fx().className == 'editor' ||  document.body === fx()){
                            // alert(fx().className)
                            console.log('2')
                            fx().insertBefore(div, fx().childNodes[1]);
                            // targetDiv.appendChild(fig)
                            // fx().insertBefore(fig, fx().nextSibling);
                        }
                        else{
                            // alert(fx().className)
                            console.log('1')
                            fx().parentNode.insertBefore(div, fx().nextSibling);
                        }
                        // document.getElementsByClassName("editor")[0].appendChild(div)
                        
                        
                        // document.getElementsByClassName('editor')[0].append('<div class="grid"></div>')
                        $.each(imageList,function(i, val){
                            var imageUrl = val.urls.regular;
                            var img = document.createElement('img')
                            var container = document.createElement('div')
                            container.className = "container"
                            document.getElementsByClassName('grid')[0].appendChild(container)
                            a_name[i] = val.user.name
                            url[i] =  val.user.links.html
                            // console.log("name")
                            // alert(val.user.links.html)
                            // i.onclick =  'addImage(this,     val.user.name, val.user.name)'
                            
                            img.setAttribute("onclick", 'addImage(this, url[ ' + i + '], a_name[' + i + '] )')
                            // img.setAttribute("onclick", 'addImage(this,' + val.user.links.html + ',' + val.user.name + ")'" )
                            
                            // i.addEventListener ("click", 'addImage(this, val.user.links.html, val.user.name)');
                            // i.role = "button"
                            img.className = "unsplash-image"
                            img.style.height = '100px';
                            img.style.height = '100px';
                            img.style.display = 'inline';
                            img.src = imageUrl;
                            var author = document.createElement('span')
                            author.innerHTML = val.user.name;
                            author.readonly = "true"
                            author.className = 'author'
                            // document.getElementsByClassName("container")[i].appendChild(img)
                            author.setAttribute("contenteditable","false")
                            var unsplash_div = document.createElement('div')
                            unsplash_div.className = "unsplashImage"
                            unsplash_div.appendChild(img)
                            document.getElementsByClassName("container")[i].appendChild(unsplash_div)
                            document.getElementsByClassName('container')[i].appendChild(author)
                            
                            // document.getElementsByClassName('grid')[0].append('<img src=' + imageUrl+ ">")
                        });
                        });
                        
                    };
                    // xhr = new XMLHttpRequest();
                    function setHeader(xhr) {   
                    xhr.setRequestHeader('Authorization', '{{PEXELS_API_KEY_DEBUG}}');
                    }
                    var p_name = []
                    var p_url = []
                    function implementPexelSearch(query, page_number = 1){

                        if(document.getElementsByClassName("grid")[0] != null){
                        document.getElementsByClassName("grid")[0].remove();
                        document.getElementsByClassName('buttons')[0].remove()

                    }
                        $.ajax({
                            url: 'https://api.pexels.com/v1/search?per_page=10&query=' + query + "&page=" + page_number,
                            type: 'GET',
                            datatype: 'json',
                            success: function(data) { 
                                var div_btn = document.createElement('div')
                        div_btn.className = "buttons"

                        if(page_number > 1){
                            var prev = document.createElement('button')
                            prev.setAttribute("onclick", 'page_number-=1;implementPexelSearch(span_text, page_number)')
                            prev.innerHTML = "PREV"
                            prev.style.float = "left"
                            div_btn.appendChild(prev)
                        }
                        var next = document.createElement('button')
                        next.setAttribute("onclick", 'page_number+=1;implementPexelSearch(span_text, page_number)')
                        next.innerHTML = "NEXT"
                        next.style.float = "right"

                        div_btn.appendChild(next)
                        document.getElementsByClassName("editor")[0].appendChild(div_btn)

                        var imageList = data.photos;
                        // alert(data.photos)
                        var div = document.createElement('div')
                        div.className = "grid"
                        document.getElementsByClassName("editor")[0].appendChild(div)
                        // alert(imageList.length)
                        
                        // document.getElementsByClassName('editor')[0].appendChild(gri)
                        $.each(imageList,function(i, val){
                            var imageUrl = val.src.original;
                            var img = document.createElement('img')
                            var container = document.createElement('div')
                            container.className = "container"
                            document.getElementsByClassName('grid')[0].appendChild(container)
                            p_name[i] = val.photographer
                            p_url[i] =  val.photographer_url
                            // console.log("name")
                            // alert(val.user.links.html)
                            // i.onclick =  'addImage(this, val.user.name, val.user.name)'
                            
                            // img.setAttribute("onclick", 'addImage(this, url, a_name )')
                            
                            // i.addEventListener ("click", 'addImage(this, val.user.links.html, val.user.name)');
                            img.setAttribute("onclick", 'addImage(this, p_url[ ' + i + '], p_name[' + i + '] )')
                            
                            // i.role = "button"
                            img.className = "pexels-image"
                            img.style.height = '100px';
                            img.style.height = '100px';
                            img.style.display = 'inline';
                            img.src = imageUrl;
                            var author = document.createElement('p')
                            author.innerHTML = val.photographer;
                            author.readonly = "true"
                            author.className = 'author'
                            // document.getElementsByClassName("container")[i].appendChild(img)
                            author.setAttribute("contenteditable","false")
                            var unsplash_div = document.createElement('div')
                            unsplash_div.className = "unsplashImage"
                            unsplash_div.appendChild(img)
                            document.getElementsByClassName("container")[i].appendChild(unsplash_div)
                            document.getElementsByClassName('container')[i].appendChild(author)
                            
                            // document.getElementsByClassName('grid')[0].append('<img src=' + imageUrl+ ">")
                        });
                             },
                            error: function() { alert('Failed!'); },
                            beforeSend: setHeader       
                        });   
                    
                    };
                    // $.getJSON('https://api.pexels.com/v1/search?query=people', function(data){
                    //     beforeSend: setHeader
                    if('{{chapter.pk}}'){
                        var chapter_pk = '{{chapter.pk}}'
                    }
                    else{
                        var chapter_pk = ""
                    }
                    function addChapter(){
                        content = document.getElementsByClassName('editor')[0].innerHTML
                        var author = {{project.author.pk}}
                        $.ajax({
                            method: 'POST',
                            url: "{% url 'api:create_chapter' %}",
                            async:false,
                            data :{
                                'chapter_pk': chapter_pk,
                                'link_to': '{{project.pk}}',
                                'content': content,
                                'csrfmiddlewaretoken': $('input[name= csrfmiddlewaretoken]').val(),
                                'author': author,
                                // 'heading': 'LoremIpsum'
                            },
                            success: function(data){
                                alert('SUCCESS!')
                            }, error: function(error){
                                alert('ERROR!')
                            }

                        })
                        // if('{{chapter.pk}}'){
                        // document.location.href = '/teach/chapter/' + '{{project.pk}}/' + '{{chapter.pk}}'
                        // }
                        // else{
                        //     document.location.href = '/teach/chapter/' + '{{project.pk}}'
                        // }
                    }
                    function newChapter(){
                     document.location.href = '/teach/chapter/' + '{{project.pk}}'
                     content = document.getElementsByClassName('editor')[0].innerHTML
                        var author = {{project.author.pk}}
                        // alert(a+1);
                        $.ajax({
                            method: 'POST',
                            url: "{% url 'api:create_chapter' %}",
                            async:false,
                            data :{
                                // 'chapter_pk': a+1,
                                'link_to': '{{project.pk}}',
                                'content': content,
                                'csrfmiddlewaretoken': $('input[name= csrfmiddlewaretoken]').val(),
                                'author': author,
                                // 'heading': 'LoremIpsum'
                            },
                            success: function(data){
                                alert('SUCCESS!')
                            }, error: function(error){
                                alert('ERROR!')
                            }

                        })
                    }
                function createNumberofHours(){
                    var pk = '{{project.pk}}'
                    
                    $.ajax({
                        method:'POST',
                        url: '{% url "api:update_status" %}',
                        async: false,
                        data:{
                            'link_to': '{{project.pk}}',
                            'csrfmiddlewaretoken': $('input[name= csrfmiddlewaretoken]').val(),
                            
                        },
                        success: function(data){
                                alert('SUCCESS!')
                            }, error: function(error){
                                alert('ERROR!')
                            }
                    
                    })
                    document.location.href = "/teach/add/"+pk;
                }    
              var a;      
         </script>
        <button id="bold" onclick="format('bold')">B</button>
        <button id="underline" onclick="format('underline')">U</button>
        <button id="italic" onclick="format('italic')">I</button>
        <button id="ordered-list" onclick="format('insertOrderedList')">Ordered List</button>
        <!-- <input type='file' id='inpfile' accept="image/jpeg, image/png, image/gif"> -->
        <button id="search" onclick="implementUnsplashSearch(document.getElementById('inptext').value)">Search Unsplash</button>
        <input type="text" id="inptext">
        <button id="pexels_search" onclick="implementPexelSearch(document.getElementById('inptext_pexels').value)">Search Pexels</button>
        <input type="text" id="inptext_pexels">
        {% for chapter in chapters%}
        <p><a href="/teach/chapter/{{chapter.link_to.pk}}/{{chapter.pk}}">{{chapter.slug}}</a></p>
        {%if forloop.last%}
        <script>a = {{chapter.pk}}</script>
        {%endif%}
        {%endfor%}
        <!-- <button type="button" onclick="createChapter();">CREATE chAPTER</button>
        <button type="button" onclick="addChapter();">CREATE chAPTER</button> -->
        <button id="difficulty_right_button" type="button" class="btn btn-primary" style="float: right;" onclick="createProject();">Create</button><button id="chapter_left_button" type="button" class="btn btn-primary" style="float: left;" onclick="createNumberofHours()">Previous</button>
        <button  type="button" class="btn btn-primary" style="float: right;" onclick="newChapter();">Add</button>
        <button  type="button" class="btn btn-primary" style="float: right;" onclick="addChapter();">Save Changes</button>
        <div class="editor" contenteditable="true" spellcheck="false" >
        </div>
        <script>
            var btns = document.getElementsByClassName('btn')
            // for(i=0; i< btns.length; i++){
            //     document.getElementsByClassName('btn')[i].addEventListener('onclick', function(){
        
            //     })
            // }
           
        
        </script>
    </body>
</html>