/* FOR SUBTOPIC PAGE */

#blog_heading {
    text-align: center;
}

.container {
    max-width: none;
    width: 80%;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #029BD3;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: #029BD3;
}

div#content {
    display: inline-block;
    text-align: left;
}

div.center {
    margin-bottom: 50px;
}

#hover{
    margin-bottom:10px;
    margin-top:0px;
}