pre {
    text-decoration-color: violet;
    text-align: center;
    color: green;
    background-color:rgba(128,128,128,0.3);
}

.container {
    max-width: none;
    width: 80%;
}

#commentsContainer {
    margin-top: 40px;
}

ul > a#listItem {
    color: #029BD3;
}

i.icon-btn {
    margin-left: 40px;
    margin-right: 40px;
}

a#listItem:hover, #selected {
    cursor: pointer;
    background-color: #EDEDED;
    font-size: 17px;
}   
.center-div {
    margin: 0 auto;
}

.breadcrumb {
    align-self: center;
}

#video {
    width: 70%;
    margin-top: 50px;
}