<!DOCTYPE html>
<html>
<head>
  <title></title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <!--local -->
  <link href="style-step.css" rel="stylesheet">
  <style>
      ::placeholder{
          color:#b8b8b8;
      }
  </style>

</head>
<body>
<header class="background-header">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><img class="img1" src="kid-white.png"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
              <li class="nav-item n dropdown hid" id="drop">
          <form class="form" id="form" action="">
          <input type="search" class="input" onmouseover="mousein()" id="navbarDropdown">
          <i class="fa fa-search" onmouseover="myFunc()" href="#"></i>
      </form>
        <div class="dropdown-menu menu" id="srch">
            <a class="dropdown-item">first</a>
            <a class="dropdown-item">second</a>
            <a class="dropdown-item">third</a>
          </div>
    </li>
              <li class="nav-item login">
                <a class="nav-link" href="#">Login</a>
              </li>
            </ul>
          </div>
          <div class="functional-buttons">
            <ul>
              <li><a href="#">Log in</a></li>
            </ul>
          </div>
        </div>
      </nav>
  </header>
  <br>
  <br>
  <br>
  <br>
<div class="container">
    <div><h6>Step <span id="current">1</span> of <span id="total">4</span></h6></div>
    <hr class="hr">
    <div class="z">
    <div class="o">
        <hr class="m">
    </div>
    <div class="p">
        <hr class="m">
    </div>
    </div>
</div>
    <div class="container-fluid container-fluid1">
        <img src="icon.png" class="icon1">
        <h3>How about a working title?</h3>
        <h6>It's ok if you can't think of a good title now. You can change it later.</h6>
        <input type="text"  class="example1" placeholder="FOR EXAMPLE">
    </div>
    <br>
    <br>
<div class="container">
    <button class="previous b">Previous</button>
    <button class="next b">Next</button>
</div>
<footer class="footer">
    <div class="row stacks" id="stacks">
      <div class="col-lg-4 col-md-12 col-sm-12 col-12 stack1">
    <span class="stack">
    <img  class="foot-logo stack" src="kid-black.png"><br>
    <br>
    <span>Contact Us: knowindeep.tech@gmail.com<br>All Rigths reserved.KnowInDeep 2020</span>
    <br>
      <span>
        <a href="#" class="lang1">
        <img src="google.png" class="lang2">
        </a>
        <a href="#" class="lang1">
        <img src="linkd.png" class="lang2">
        </a>
        <a href="#" class="lang1">
        <img src="github.png" class="lang2">
        </a>
        <a href="#" class="lang1">
        <img src="youtube.png" class="lang2">
        </a>
      </span>
    </span>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-6 col-12">
      <ul class="stack">
        <li class="heads">COMPANY</li>
        <li>About us</li>
        <li>Privacy Policy</li>
        <li>Contact us</li>
      </ul>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-6 col-12">
      <ul class="stack">
        <li class="heads">LEARN</li>
        <li>Algorithms</li>
        <li>Data Structures</li>
        <li>Languages</li>
        <li>CS Subjects</li>
        <li>Video Tutorials</li>
      </ul>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-6 col-12">
      <ul class="stack">
        <li class="heads">PRACTICE</li>
        <li>Courses</li>
        <li>Company-wise</li>
        <li>Topic-wise</li>
        <li>How To Begin?</li>
      </ul>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-6 col-12">
      <ul class="stack">
        <li class="heads">CONTRIBUTE</li>
        <li>Write an Article</li>
        <li>Experience</li>
        <li>Internships</li>
        <li>Videos</li>
      </ul>
  </div>
  </div>
    </footer>
  <!--for the nav bar and underlying image-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  
  </body>
  </html>