.image {
    background-image: url("/static/images/cover_photo.ae461053a7fd.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}

.jumbotron {
    color: white;
    padding: 300px 30px 0 30px;
    background-color: transparent;
}
#jumbotron1{    
    margin: 0 auto;
    height:244px;
    width: 1170px;
}
body,
html {
    margin-right: 0;
}

#display {
    font-size: 35px;
}

#lead #lead1 {
    font-size: 10px;
}
@media(max-width:768px){
    #jumbotron1{    
        margin: 0 auto;
        width: 90%;
    }
    .image{
        width: 100%;
    }

}


@media(max-width:993px) and (min-width:768px){
    #jumbotron1{    
        margin: 0 auto;
        height: 244px;
        width: 750px;
    }

}
@media (max-width:1200px) and (min-width:993px){
    #jumbotron1{    
        margin: 0 auto;
        height: 244px;
        width: 970px;
    }
}


#cate{
    font-size: 24px;
}