* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.index-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    color: #1a1d20;
}

.index-content h1 {
    font-size: 3rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.index-content p {
    font-size: 1.5rem;
    -webkit-transform: translateY(-80%);
    transform: translateY(-80%);
}

.index-content .container {
    margin-top: 2rem;
    margin-bottom: 10rem;
}

.index-content .container h3 {
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.index-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.index-cards .card {
    width: 26rem;
    -o-object-fit: cover;
    object-fit: cover;
    margin-bottom: 2rem;
    border: none;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.index-cards .card img {
    height: 40%;
    -o-object-fit: cover;
    object-fit: cover;
}

.index-cards .card:hover {
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.index-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

.index-cta .btn-dark {
    background-color: #f9a80d;
    border: goldenrod;
}

.index-cta .index-share svg {
    cursor: pointer;
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #f9a80d;
    margin-bottom: 10px;
}

.list-group-item {
    text-align: left;
}

@media only screen and (max-width: 1400px) {
    .index-cards .card {
        width: 23rem;
    }
}

@media only screen and (max-width: 1200px) {
    .index-cards .card {
        width: 20rem;
    }
}

@media only screen and (max-width: 995px) {
    .index-content .container h3 {
        text-align: center;
    }
    .index-cards .card {
        width: 15rem;
    }
}

@media only screen and (max-width: 780px) {
    .index-content h1 {
        font-size: 2.5rem;
    }
    .index-content p {
        font-size: 1rem;
        -webkit-transform: translateY(-60%);
        transform: translateY(-60%);
    }
    .index-content .container {
        margin-bottom: 0rem;
    }
    .index-content .container h3 {
        text-align: center;
    }
    .index-cards {
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }
    .index-cards .card {
        width: 26rem;
    }
}


/*# sourceMappingURL=index.css.map */